[2017-02-24 20:16] MeepyMay opened #7 "Updating Systers GitHub site to ABI Identity."
Here are the following changes needed:

- Background to White #FFFFFF
- Headers changed to Tahoma
- Paragraph text to Calibri
- Header Color to Caribbean: #54BCEB
- All current black text to Rich Black: #101820
- All hyperlinks to Tangerine: #F89728
- All hyperlinks remove underline on hover.
- All hyperlinks color change to Crimson #EF4135 OnHover.
- Left Menu Background to Medium Gray: #888B8D
-

[2017-02-24 20:21] MeepyMay commented on #7
@Rupinderwadali Please take over this issue. I'll bring up new issues as I see appropriate. Thank you!

[2017-02-25 06:49] Rupinderwadali commented on #7
Thanks @MeepyMay. Working on it. Will update you soon.

[2017-02-27 19:36] Rupinderwadali commented on #7
Done @MeepyMay .
Issue #8: Add style in web page
commit: c3ce9163dfeb9577488792337db923e6a6a8be13

[2017-02-27 19:40] Rupinderwadali commented on #7
@MeepyMay Please list out the changes that are still required in the web pages. Should I list out the changes that required on the web page according to me?

[2017-10-31 21:26] #7 closed

[2017-10-31 21:33] MeepyMay opened #12 "Update the systers.io to a template."
## Description
As a potential open source contributor,
I want to learn about all of the projects currently available,
so that I can begin contributing to open source.

## Mocks
![image uploaded from ios](https://user-images.githubusercontent.com/2440938/32249905-f3b72f5e-be60-11e7-8ad5-952febdc00f0.jpg)

## Acceptance Criteria
### Projects
Systers
• All links point to the project repo's GitHub Wik

[2017-10-31 21:39] MeepyMay commented on #12
PR #13 completes 33% of this issue.

[2017-11-08 05:24] #12 closed

[2017-12-28 07:47] manmeet0307 opened #30 "Gsoc links missing"
## Description
As a GSOC aspirant ,I want to see previous year selected projects.
Though the links are provided,but newly open file produces an error.
![image](https://user-images.githubusercontent.com/32425680/34403935-4636300c-ebd1-11e7-8a6c-da0bd36b8f70.png)

## Mocks
Error:

![image](https://user-images.githubusercontent.com/32425680/34403801-7b0a5552-ebd0-11e7-9ff5-370d0dcac1a7.png)

After Up

[2018-02-11 08:13] sara-02 commented on #30
@manmeet0307 Do you still see this error? If things look good then please close this issue :)

[2018-02-13 16:23] MeepyMay commented on #30
It's updated. :) Closing now.

[2018-02-13 16:23] #30 closed

[2018-02-16 09:03] tetesandra opened #35 "Using Generic Labels in Menu Items"
Often, opting for anything less than the most obvious choice or most common primary menu items will frustrate site visitors.

Current Menu
![old](https://user-images.githubusercontent.com/36500441/36300150-4f7a6d12-1300-11e8-876f-8d4e520f00cc.png)

Proposed Menu
![new](https://user-images.githubusercontent.com/36500441/36300165-6170ea78-1300-11e8-85da-661ff21c2205.png)

[2018-02-16 09:23] tetesandra opened #36 "Improving Home Page Design"
## Description
Unfortunately, a lot of people still judge a book by its cover. You never get a second chance to make a first impression. If a new visitor doesn't like what they see, their knee-jerk reaction is to hit the "back" button. Iincluding a featured image, carousel, or Jumbotron on home with other informations that will inform users about Systers, its activities and give them direction to

[2018-02-16 10:07] tetesandra opened #37 "Integrate Google Calendar"
## Description
The programs section of the systers.io website should have Google calender integrated

[2018-02-17 01:03] shreyateeza commented on #36
Hi @tetesandra! I would like to take this issue. Please assign it to me. :)

[2018-02-17 01:04] shreyateeza commented on #35
Hey @tetsandra please assign this issue to me!

[2018-02-17 10:26] shreyateeza commented on #36
I am working on this issue.

[2018-02-17 10:29] shreyateeza commented on #35
I am working on this issue.

[2018-02-17 17:16] nkwate-kazim commented on #36
@shreyateeza Not yet since a lot of feedback is still being expected from the community w.r.t. to the design.
Also I don't have the privilege to assign issues

[2018-02-17 17:43] shreyateeza commented on #36
@nkwate-kazim Alright! So it means that we can propose our ideas in the form on issues. Right?

[2018-02-17 17:54] tetesandra commented on #36
@shreyateeza , have you read the contributors guide to contributing to this project??

[2018-02-17 18:09] shreyateeza commented on #36
@tetesandra Yes of course! I don't see that this has to do anything with my question.

[2018-02-17 18:22] tetesandra commented on #36
@shreyateeza , I think @nkwate-kazim  have addressed most of your worries. Adding to that, issues are not just to be opened without following guideline. That is why I sent you the contributors guide so that you be able to judge what to open as an issue. I don't think it would a be nice idea to cluster the issues list with very minor and almost no priority details

[2018-02-17 18:28] shreyateeza opened #38 "Add lang="en"to the html start tag"
## Description
Sometimes people assume that information about natural language could be inferred from the character encoding. However, a character encoding does not enable unambiguous identification of a natural language: there must be a one-to-one mapping between encoding and language for this inference to work, and there isn't one.

This has to added in all html documents written in English lang

[2018-02-17 18:32] shreyateeza opened #39 "Add lang="en" to the html start tag"
## Description
Sometimes people assume that information about natural language could be inferred from the character encoding. However, a character encoding does not enable unambiguous identification of a natural language: there must be a one-to-one mapping between encoding and language for this inference to work, and there isn't one.

## Definition of Done
- [ ] Approval by 1 mentor.

## Estimatio

[2018-02-17 18:33] #39 closed

[2018-02-17 18:49] shreyateeza opened #40 "Missing content attribute"
## Description
A meta element with an http-equiv attribute whose value is X-UA-Compatible must have a content attribute. This change is required in some html documents.

Follow https://github.com/systers/slack-systers/blob/develop/PULL_REQUEST_TEMPLATE.md#description when writing commit message.

## Definition of Done
- [ ] Approval by 1 mentor.

## Estimation
30 to 60 minutes

## Difficulty
first

[2018-02-17 19:03] shreyateeza opened #41 "Error: Saw " when expecting an attribute name"
## Description
Make correction at line 53, column 92 in index.html and in some other html documents.

Follow https://github.com/systers/slack-systers/blob/develop/PULL_REQUEST_TEMPLATE.md#description when writing commit message.

## Mocks
--Not Applicable-

## Acceptance Criteria
### Update (Required)
- [ ] all HTML files in which this error is there.

## Definition of Done
- [ ] Approval by 1 men

[2018-02-17 19:13] shreyateeza opened #42 "Missing opening tag (<i>)"
## Description
Missing opening tag (i) in index.html at line 53 and in some other html documents.

Follow https://github.com/systers/slack-systers/blob/develop/PULL_REQUEST_TEMPLATE.md#description when writing commit message.

## Definition of Done
- [ ] Approval by 1 mentor.

## Estimation
30 to 60 minutes

## Difficulty
first-timers-only

[2018-02-17 19:18] shreyateeza opened #43 "Missing closing span tag"
## Description
Missing closing span tag in some html documents.

Follow https://github.com/systers/slack-systers/blob/develop/PULL_REQUEST_TEMPLATE.md#description when writing commit message.

## Definition of Done
- [ ] Only when issue #42 is merged.
- [ ] Approval by 1 mentor.

## Estimation
30 to 60 minutes

## Difficulty
first-timers-only

[2018-02-17 19:31] shreyateeza opened #44 "Add id attribute in replacement of name attribute"
## Description
The name attribute is obsolete. Consider putting an id attribute on the nearest container instead.

## Definition of Done
- [ ] Approval by 1 mentor.

## Estimation
30 to 60 minutes

## Difficulty
first-timers-only

[2018-02-17 20:01] shreyateeza opened #45 "Add 'Difficulty' section"
## Description
There should be a separate section showing difficulty of issues in the ISSUE_TEMPLATE.md. It is required because many times label is not tagged to the issue.

## Definition of Done
- [ ] Approval by 1 mentor.

## Estimation
Less than 5 minutes

## Difficulty
first-timers-only

[2018-02-19 17:45] prachi1210 commented on #35
@nkwate-kazim please go ahead and raise a PR

[2018-02-19 21:42] punit-agarwal commented on #38
Please check my pull request at https://github.com/systers/systers.github.io/pull/46
Thanks.

[2018-02-19 22:19] punit-agarwal commented on #35
Can I raise a PR for this?

[2018-02-20 07:02] punit-agarwal commented on #35
@shreyateeza @prachi1210

[2018-02-20 07:07] nkwate-kazim commented on #35
@prachi1210 , I am on it :smile:

[2018-02-20 07:52] sunnyp123 commented on #45
Assign this issue to me.

[2018-02-20 09:01] shreyateeza commented on #35
@punit-agarwal Feel free to take another issue or create one as @nkwate-kazim is working on this.

[2018-02-20 09:07] shreyateeza commented on #45
@sunnyp123 Feel free to take another issue as already a PR regarding this has been created.

[2018-02-20 09:11] shreyateeza commented on #37
I am working on this issue. :yellow_heart:

[2018-02-20 09:34] prssanna commented on #42
Hi @shreyateeza, I've opened a PR for this issue [here](https://github.com/systers/systers.github.io/pull/48) :)

[2018-02-20 10:48] shreyateeza commented on #42
Cool! :+1:

[2018-02-21 07:32] anumehaagrawal commented on #41
Can I work on this ? @prachi1210

[2018-02-21 07:36] shreyateeza commented on #41
Yeah sure! You can work on this. And don't forget to reference this issue hile writng PR and follow the commit guidelines. :)

[2018-02-21 08:50] anumehaagrawal opened #51 "Change git instructions text alignment in old index.html"
## Description
As a user,
I need change git instructions text alignment in old index.html
so that I can maintain uniformity in the UI.
## Mocks
![screenshot-2018-2-21 systers open source projects by systers](https://user-images.githubusercontent.com/25412153/36470766-0c5f4334-1712-11e8-8c8e-723970f42aac.png)

## Acceptance Criteria
Either padding is added to align it with rest of the text or centr

[2018-02-21 17:53] vigzmv opened #53 "Homepage: RGSoC 2019 wrong link"
## Description
As a When I click on **2019** under **Rails Girls Summer of Code** on the homepage,
I should be taken to that respective page,
Instead, I am taken to a **404 Not Found** Page.

## Acceptance Criteria
### Update [Required]
- [ ] Update href value of the related anchor tag.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation

[2018-02-21 19:50] MeepyMay commented on #53
We're removing the RGSoC section instead. Thank you for bringing this to our attention.

[2018-02-21 19:50] #53 closed

[2018-02-21 19:53] MeepyMay commented on #45
Changing the issue template will require a change on every Systers repo. Right now, we are using labels to assign difficulty, not the issue template itself. Thank you for the concern.

[2018-02-21 19:53] #45 closed

[2018-02-21 20:35] Janiceilene commented on #42
This has been fixed in an upcoming version of the website.

[2018-02-21 20:35] #42 closed

[2018-02-21 21:13] Janiceilene commented on #40
This change has been made in a new version of the site.

[2018-02-21 21:13] #40 closed

[2018-02-21 21:15] Janiceilene commented on #43
This has been fixed in a new version of the site.

[2018-02-21 21:15] #43 closed

[2018-02-21 21:17] Janiceilene commented on #51
The old index.html is part of the previous website and isn't being used anymore.

[2018-02-21 21:17] #51 closed

[2018-02-22 10:06] divyanshu-rawat commented on #44
@prachi1210 I guess this issue is already been taken care of correct me if I am wrong:).

[2018-02-22 20:07] simsausaurabh opened #55 "Create a separate .github folder for templates of issue, PR, coc, contributing - present in root folder"
## Description
As an organised open-source-developer, we need to follow certain conventions, for making projects great and awesome.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [X] add a separate .github folder for templates.
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Ap

[2018-02-23 00:35] MeepyMay commented on #35
@tetesandra This isn't following the branding guidelines. Also, please update the issue to include all of the required items from the template.

[2018-02-23 02:51] shreyateeza commented on #55
@simsausaurabh All other systers repo don't have a separate .github folder for this. So I think this should not be an issue. ;)

[2018-02-23 03:11] shreyateeza opened #57 "Error: A meta element with an http-equiv attribute whose value is X-UA-Compatible must have a content attribute with the value IE=edge"
## Description
A meta element with an http-equiv attribute whose value is X-UA-Compatible must have a content attribute with the value IE=edge along with value chrome=1.
As a user,
I have to add the value 'IE-edge' to the http-equiv attribute of meta element,
so that it smoothly runs on IE as well.

## Mocks
--Not Applicable-

## Acceptance Criteria
### Update [Required]
- [ ] index.html
- [ ] new

[2018-02-23 03:14] shreyateeza commented on #57
@MeepyMay please label this issue as 'first-timers-only' and 'Difficulty: easy'.

[2018-02-23 03:25] shreyateeza opened #58 "Attribute aria-hidden is unnecessary for elements that have attribute hidden"
## Description
As a user,
I need to do remove `aria-hidden='true'` attribute as it is unnecessary for elements that have attribute hidden or vice-versa,
so that there occurs no such warning while validating the code.

## Mocks
--Not Applicable-

## Acceptance Criteria
### Update [Required]
- [ ] index.html (line no. 71)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Ap

[2018-02-23 03:26] shreyateeza commented on #58
@prachi1210 @MeepyMay Please add labels `first-timers-only` and `Difficulty:Easy` to this issue.

[2018-02-23 03:43] shreyateeza opened #59 "Error: An img element must have an alt attribute, except under certain conditions"
## Description
There are missing alt attribute for some img elements (read https://www.w3.org/wiki/HTML/Usage/TextAlternatives.)
As a user,
I have to add the alt attribute,
so that under certain conditions, instead of the image the text shows up.

## Mock
![screenshot from 2018-02-26 09-50-10](https://user-images.githubusercontent.com/30488330/36653382-ce20c832-1ada-11e8-8cd9-7f9a47258e3c.png)

##

[2018-02-23 03:54] shreyateeza commented on #59
@MeepyMay @prachi1210 Please label this issue as `first-timers-only` and `Difficulty: Easy`.

[2018-02-23 04:13] shreyateeza opened #60 "Replace 'Places' with 'Resources'"
## Description
In http://systers.io/newcomers in the first subheader it is written 'Tutorials and Other Helpful Places' rather it should be 'Tutorials and Other Helpful Resources'.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
Less than 5 minutes.

[2018-02-23 04:14] shreyateeza commented on #60
@MeepyMay @prachi1210 Please label this issue as `first-timers-only` and `Difficulty: Easy`.

[2018-02-23 05:52] simsausaurabh commented on #55
@shreyateeza It's fine if we are following convention to put them in root directory here, but in more broad scenario it's generally put in a separate ```.github``` folder. I am new to this organisation, please close this issue if it's not really required. Thanks.

[2018-02-23 05:56] simsausaurabh commented on #60
@shreyateeza Can I start my contribution with this?

[2018-02-23 06:13] shreyateeza commented on #60
@simsausaurabh Yes you can! :smile:

[2018-02-23 06:14] simsausaurabh opened #61 "Provide a preview link for the project in README or in the project description."
## Description
As a github common practice, we should add preview link for front end projects in the project description or readme itself so that any one can directly look the current stage of the project in preview link.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [X] Add a preview link.
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definitio

[2018-02-23 06:15] shreyateeza commented on #55
I am afraid I can't. You have to close it yourself.

[2018-02-23 07:58] tetesandra commented on #35
@MeepyMay Thanks for pointing me to that. I made the proposal based on what was published at the time. Maybe we should give time for whosoever is doing the job to finish her job then necessary amendments can then be made

[2018-02-23 08:10] tetesandra opened #63 "Menu Goes Missing When Scrolling Down"
## Description
When one sroll down the website the nvabar disappear at some level. It will be better if the navbar stays fix to the top no matter what. I think a navbar-fixed class in bootstrap will do the trick.

[2018-02-24 06:52] AnkitKhatri55555 commented on #38
can i work on this issue?

[2018-02-24 07:04] shreyateeza commented on #38
@punit-agarwal was working on this. If he not working anymore then you can go ahead. :)

[2018-02-24 07:40] AnkitKhatri55555 commented on #59
hey @shreyateeza , can i work on this issue?

[2018-02-24 08:31] punit-agarwal commented on #38
@AnkitKhatri55555 you may proceed working on this.
Engaged in semester exams. Will start contributing after exams.

[2018-02-24 08:49] simsausaurabh commented on #59
@AnkitKhatri55555 sure go ahead, you can work on this issue.

[2018-02-24 08:56] shreyateeza commented on #59
Yes @AnkitKhatri55555, you can work! :)

[2018-02-24 10:13] shreyateeza opened #64 "Text going out of the Box"
## Description
The text moves out of the box when viewing the open-source-workflow page of the website in mobile or when the window is not viewed in full mode.

## Mocks
1. When viewed in Mobile
![screenshot_2018-02-24-14-37-03](https://user-images.githubusercontent.com/30488330/36629152-1209ca6c-1978-11e8-9ffc-1dc135068fb1.png)
2. When the window is not viewed in full mode
![screenshot from 2018-

[2018-02-24 10:14] shreyateeza commented on #64
@MeepyMay @prachi1210 Please label this issue as `First Timers Only` and `Difficulty: Easy`.

[2018-02-24 10:42] sara-02 commented on #64
@shreyateeza You can still go ahead and start working on it :)

[2018-02-24 10:44] shreyateeza opened #65 "Manage the Dropdown Menu"
## Description
When viewed in mobile, when the Contribute tab is expanded the About Us tab hides. See the screenshot.
As a user,
I want to rectify it,
so that it doesn't create any confusion.

## Mocks
![screenshot_2018-02-24-14-35-40](https://user-images.githubusercontent.com/30488330/36629577-632e3b94-197d-11e8-9b8c-a8774bbe635e.png)

## Acceptance Criteria
### Update [Required]
- [ ] index.html

[2018-02-24 10:46] sara-02 commented on #38
@AnkitKhatri55555 you can check the PR submitted by @punit-agarwal ,we left some reviews, you can use those pointers.
Also, we have duplicate PR for this issue https://github.com/systers/systers.github.io/pull/54 by @Saichethan you can check the reviews there as well.
One word of caution, do not modify the `old.index.html`

[2018-02-24 12:07] Jap-Leen opened #66 "The horizontal scrollbar is not required"
## Description
When viewed on a browser, the page appears as horizontally scroll-able, though ideally it shouldn't be so as all the contents fit on one screen.<br>
Browser specifications:
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36

## Mocks
When the scrollbar is at extreme left:<br>
![capture](https://user-images.githubusercon

[2018-02-24 17:17] simsausaurabh opened #67 "BUG: Travis build is failing"
## Description
I found the below comment on https://github.com/travis-ci/travis-ci/issues/933 which is the main cause of travis build fail.
[code]

## Acceptance Criteria
### Update [Required]
- [X] Travis needs to be fixed.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
It will take few hours to understand and fix.

[2018-02-24 17:50] sara-02 commented on #66
@Jap-Leen I am unable to reproduce the error on Mozilla, but I do see a horizontal scroll on Chrome.
Specs
[code]

[2018-02-24 19:29] MeepyMay commented on #35
@tetesandra They are available on the Slack channel. I just posted the file in the #gh-pages channel. Please check there.

I'm closing this issue since it doesn't follow the template.

[2018-02-24 19:29] #35 closed

[2018-02-24 19:29] MeepyMay commented on #36
I'm closing this issue since it doesn't follow the template.

[2018-02-24 19:29] #36 closed

[2018-02-24 19:30] MeepyMay commented on #37
I'm closing this issue since it doesn't follow the template. Calendar integration was proposed for Celebration. An issue was opened there: https://github.com/systers/celebration/issues/6

[2018-02-24 19:30] #37 closed

[2018-02-24 19:31] MeepyMay commented on #63
I'm closing this issue, since it doesn't follow the template.

[2018-02-24 19:31] #63 closed

[2018-02-25 02:28] anumehaagrawal opened #68 "Unnecessary color attribute of main menu 'a' in large scale styling"
## Description
Remove the unnecessary color attribute of main menu anchor tag under @media(min 768px) in the stylesheet styles.css on line 175 as it has already been defined on line 65.

## Acceptance Criteria
Stylesheet has no duplicate entries
### Update [Required]
- [ ] styles.css

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
10

[2018-02-25 02:35] anumehaagrawal opened #69 "Merging attributes of the same tag under one curly braces"
## Description
The attributes of the same h1,h2 and h3 tags have been defined under different braces in the styles.css file making it difficult to find all the attributes of these tags. They all should be merged under the same braces. Make changes to all other such tags.
## Mocks
h1, h2, h3 {
  font-family: 'Cairo', sans-serif;
  margin-bottom: 0;
}  Line 268

h1, h2, h3 {
  margin-left: 1rem;
  f

[2018-02-25 02:51] shreyateeza opened #70 "Value Error : float 'center' is not a float value"
## Description
There is a value error in [styles.css](https://github.com/systers/systers.github.io/blob/master/stylesheets/styles.css) at line no. 339 - float center is not a float value. Replace it with appropriate value.
For more details regarding float property, see [here](https://www.w3schools.com/cssref/pr_class_float.asp)

## Mock
--Not-Applicable-

## Acceptance Criteria
### Update [Require

[2018-02-25 04:25] shreyateeza opened #72 "Correct the spelling of 'Implementation'"
## Description
Correct the spelling of 'Implementation' at line no. 102 in open-source-workflow.html

## Mocks
![screenshot_2018-02-24-14-37-03](https://user-images.githubusercontent.com/30488330/36638117-ddb445ae-1a11-11e8-86fd-dc516e037307.png)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 minutes

[2018-02-25 04:58] sara-02 commented on #68
Line numbers requiring the change include:
https://github.com/systers/systers.github.io/blob/master/stylesheets/styles.css#L65
and
https://github.com/systers/systers.github.io/blob/master/stylesheets/styles.css#L175

[2018-02-25 05:00] sara-02 commented on #70
@shreyateeza Can you point to the line number/s where this error is.

[2018-02-25 05:51] AnkitKhatri55555 commented on #72
hey @shreyateeza , check my PR at #73

[2018-02-25 06:14] shreyateeza commented on #70
@sara-02 The error is in line no. 339. I have updated the comment as well. :+1:

[2018-02-25 07:38] AnkitKhatri55555 commented on #66
hey, @Jap-Leen check my pr  at #75

[2018-02-25 08:53] AnkitKhatri55555 commented on #38
het @shreyateeza ,check my PR at #76

[2018-02-25 09:22] MeepyMay commented on #57
Please update this as an Agile User Story description + Acceptance Criteria.

[2018-02-25 09:22] MeepyMay commented on #58
Please update this as an Agile User Story description + Acceptance Criteria.

[2018-02-25 09:23] MeepyMay commented on #59
Please update this with a screenshot + Acceptance Criteria.

[2018-02-25 09:25] MeepyMay commented on #65
This is missing the Acceptance Criteria section. Please update and thank you!

[2018-02-25 09:25] MeepyMay commented on #66
This is missing the Acceptance Criteria section. Please update and thank you!

[2018-02-25 09:26] MeepyMay commented on #72
This is missing the Acceptance Criteria section. Please update. Thank you, Shreya.

[2018-02-25 09:29] AnkitKhatri55555 commented on #65
hey @shreyateeza , i want to work on this. Can i?

[2018-02-25 09:30] shreyateeza commented on #65
Feel free to take another issue. I am working on this. :smile:

[2018-02-25 09:45] shreyateeza commented on #59
@MeepyMay you can reopen it. I have done the changes. :+1:

[2018-02-25 09:53] shreyateeza commented on #58
@MeepyMay you can reopen it. I have done the changes. +1

[2018-02-25 10:03] shreyateeza commented on #57
@MeepyMay you can reopen it. I have done the changes. :+1:

[2018-02-25 12:44] sara-02 commented on #55
@simsausaurabh As pointed by @shreyateeza all Systers project are following the same convention, and not using the `.github` folder. One good reason to do so, is to make these files easier to search for. For people new to Git workflow or Github, they will not know that templates are placed inside the `.github` folder. Unless we make changes in all our `README`s, and development docs.
So please clo

[2018-02-25 12:45] sara-02 commented on #69
@anumehaagrawal can please add the line number/s pertaining to this issue.

[2018-02-25 12:49] sara-02 commented on #61
@simsausaurabh As only the creator of the repo will have right to edit the description, the best approach will be to update the `README.md` file, with the link, and a small description about this project, describing its importance w.r.t all `Systers` project.

[2018-02-25 12:52] sara-02 commented on #61
@Janiceilene what do you say?
Looks like a good `Documentation` issue, can please add that tag to it.

[2018-02-25 15:16] Saichethan commented on #41
sry I didn't get then could you be more specific @shreyateeza

[2018-02-25 16:33] Saichethan opened #78 "Travis.yml suggestion"
## Description
Adding "bundler_args: --retry 5" in travis.yml to retry build for five times
As a [USER],
I need [TO DO THIS],
so that I can [ACCOMPLISH THAT].

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [x] [LIST ITEMS]
### Enhancement to Update [Optional]
- [x] [LIST ITEMS]

## Definition of Done
- [x] All of the required items are completed.
- [x] Approva

[2018-02-25 17:22] sara-02 commented on #41
@shreyateeza @anumehaagrawal can you please mention the PR number here?

[2018-02-25 17:26] shreyateeza commented on #41
@sara-02 the PR is #52

[2018-02-25 18:49] shreyateeza commented on #57
I am working on this issue.

[2018-02-25 18:50] shreyateeza commented on #58
I am working on this issue.

[2018-02-25 18:50] shreyateeza commented on #59
I am working on this issue.

[2018-02-25 22:13] divyanshu-rawat opened #80 "ERROR : ERR_FILE_NOT_FOUND Google Chrome ,MAC OS"
## Description
Encountering Strange error with every .html file in the project while setting up the development environment of systers Github Pages on MAC OS.
Browser - Google Chrome Version 64.0.3282.167 (Official Build) (64-bit)
Operating System - macos high Sierra 10.13.3

I have attached mocks of two .html files the same hold true for all .html files
Error : Failed to load resource: net::ERR_F

[2018-02-26 06:48] Saichethan commented on #78
I have seen tarvis docs generally it generally runs 3 tests specifically 5 doesn't have any significance it's just we can increase number of iterations which can help

[2018-02-26 06:48] shreyateeza commented on #78
@Saichethan Update your issue according to the issue template.
Also its `Travis` and not `Tarvis`. :wink:

[2018-02-26 06:54] Saichethan commented on #78
I type on phone "auto correct" .......😐

[2018-02-26 09:14] AnkitKhatri55555 commented on #69
Hey @anumehaagrawal ,check my pr at #88

[2018-02-26 09:19] AnkitKhatri55555 commented on #68
hey @anumehaagrawal ,my pr at #89

[2018-02-26 09:40] divyanshu-rawat opened #90 "Improving Some Grammatical Errors"
## Description
I guess we can improve some grammatical errors on the systers official website.
I have made use of Grammarly to point the same
So, As a user, I can help correcting Grammatical errors in systers website.
So, that I can accomplish a Grammarly correct sentences.

## Mocks
On the second bullet point, one grammatically error is work through some Github Tutorials.

In http://systers.io/ne

[2018-02-26 10:20] shreyateeza commented on #90
Mention the line no.(s), file name(s) in the Update [Required] of Acceptance Criteria section. It would be easier. :smiley_cat:

[2018-02-26 10:22] shreyateeza commented on #90
This would be better -
Original Version - After you’ve got a basic understanding of Git, **work through** some Github Tutorials.
Grammatically Correct Version - After you’ve got a basic understanding of Git, **go through** some Github Tutorials.

[2018-02-26 10:34] shreyateeza commented on #80
Mention the names of all the files as a checklist in Update [Required] of Acceptance Criteria section. :wink:

[2018-02-26 10:36] shreyateeza commented on #78
You can still correct it by clicking the edit button near the issue name. :wink:

[2018-02-26 10:58] divyanshu-rawat opened #91 "Issue While Contributing To The Repo."
## Description
A discussion is already going on this issue in slack https://systers-opensource.slack.com/ #question  channel.
Strange behavior while rebasing the repository

## Mocks
I haven't made any changes in the CODE_OF_CONDUCT and when I am trying to rebase it shows unstaged changes.

![screen shot 2018-02-26 at 11 39 35 am](https://user-images.githubusercontent.com/13464678/36666529-40c6441

[2018-02-26 11:07] divyanshu-rawat commented on #90
@shreyateeza I have updated the issue as per your suggestion thanks 👍

[2018-02-26 11:08] shreyateeza commented on #91
@divyanshu-rawat Actually it should be followed like this -

1. `git remote add upstream https://github.com/systers/systers.github.io`
2. `git fetch upstream`
3. `git rebase upstream/master`
4. `git checkout master`

This won't result in any error. I myself had followed it.
The key rule is **First rebase, then Checkout**
I request you to try it yourself. If any error comes, then please let me know

[2018-02-26 11:10] shreyateeza commented on #91
@MeepyMay @prachi1210 @sara-02 Please correct me if I am wrong.

[2018-02-26 11:11] divyanshu-rawat commented on #80
@shreyateeza I have updated the comment as per your suggestions Thanks 👍

[2018-02-26 11:15] divyanshu-rawat commented on #91
@shreyateeza by following your guidelines 👍

![screen shot 2018-02-26 at 12 12 54 pm](https://user-images.githubusercontent.com/13464678/36667529-701be366-1aee-11e8-994f-10082f2a6f43.png)

The issue is with CODE_OF_CONDUCT.md please read the description mentioned in mock carefully.
Even if I will try to git add CODE_OF_CONDUCT.md then still it is not adding to the staging area it is still unstaged

[2018-02-26 11:17] AnkitKhatri55555 opened #92 "Stylesheets are not linked to html files and images not visible"
## Description
The stylesheets are not applied to the  html files,and images are also not shown when they are ran locally.
As a user , need to remove the extra slashes in front(provide correct path to stylesheets and images) of the stylesheets link tags and same for images, so that the web page can be viewed in original.(after applying stylesheets).
Changes should be done in stylesheet link tags ,

[2018-02-26 11:29] simsausaurabh commented on #91
You are on which branch at initial before following these commands? @divyanshu-rawat
Always be on ```master``` branch while doing ```fetch``` and ```rebase``` then if you want do: ```git checkout -b new-branch``` this will create the copy of your master branch. And obviously you can't rebase with unstaged changes.

You can do:
[code]
for removing the changes which it is showing. Feel free to ask i

[2018-02-26 11:32] simsausaurabh commented on #80
This is the issue, thanks for raising the issue. :+1:

[2018-02-26 11:33] divyanshu-rawat commented on #80
Even it holds true for Images as well they are also not loading because of the trailing slash.
Same procedure is needed to resolve the same 👍

[2018-02-26 11:34] divyanshu-rawat commented on #92
@AnkitKhatri55555
Hi, Ankit Similar issue is already opened by me https://github.com/systers/systers.github.io/issues/80

[2018-02-26 11:39] shreyateeza commented on #91
Yes I totally agree with @simsausaurabh. Even when I tried to do what you did @divyanshu-rawat , I get the same error. Look at the following screenshot -
![checking](https://user-images.githubusercontent.com/30488330/36668516-9445ff32-1b17-11e8-8741-d04a04315072.png)

Please first follow the steps in the order I have written, then tell me if you get any error.

[2018-02-26 11:45] divyanshu-rawat commented on #91
@simsausaurabh  @shreyateeza I am on the master branch while doing fetch and rebase and I haven't created any new branch at all and @simsausaurabh after following your instructions it still the same although I already tried everything before even you can see it in the slack channel as well slack https://systers-opensource.slack.com/ #question channel.

![screen shot 2018-02-26 at 12 42 46 pm](http

[2018-02-26 11:49] simsausaurabh commented on #91
Have you opened the project in any text editor or IDE while installing the project on command line? Or while following the instructions?

[2018-02-26 11:50] divyanshu-rawat commented on #91
@shreyateeza @simsausaurabh Now I have followed almost everything just see this attached snapshot but nothing is working at all
![screen shot 2018-02-26 at 12 46 59 pm](https://user-images.githubusercontent.com/13464678/36668934-38892d00-1af3-11e8-81dd-4a9cc622817c.png)

Although I figured out the solution for the same would you guys try to find it yourself or you want me to reveal it ;)

[2018-02-26 11:51] simsausaurabh commented on #91
Did you set the upstream?

[2018-02-26 11:51] divyanshu-rawat commented on #91
@simsausaurabh I am using sublime text for the same and have followed instructions even @shreyateeza is facing the same problem :)

Snapshot of text editor is attached
![screen shot 2018-02-26 at 12 50 57 pm](https://user-images.githubusercontent.com/13464678/36669042-bb99669c-1af3-11e8-93a8-0b07dc991de8.png)

[2018-02-26 11:51] divyanshu-rawat commented on #91
@simsausaurabh upstream is not an issue it's fairly weird issue ;)

[2018-02-26 11:53] simsausaurabh commented on #91
Can you please provide snapshot for ```git remote -v```.

[2018-02-26 11:54] divyanshu-rawat commented on #91
ya sure
![screen shot 2018-02-26 at 12 54 13 pm](https://user-images.githubusercontent.com/13464678/36669142-2cc8ff3a-1af4-11e8-8fa5-d96aac550fc7.png)

[2018-02-26 11:56] simsausaurabh commented on #91
I am not getting why are you checking out master, when you are already on it. Please move this discussion on slack. Thanks.

[2018-02-26 11:59] divyanshu-rawat commented on #91
ya thanks, @simsausaurabh it's already on slack and another thing is that I know it's I am already in master it's a dumb thing to checking it out again to master but is not related to this issue at all :)

[2018-02-26 12:05] shreyateeza commented on #91
As you now know the cause of this error, you are requested to close this issue. @divyanshu-rawat

[2018-02-26 12:26] divyanshu-rawat commented on #91
Ya, but how the community will know how to resolve this?

[2018-02-26 12:27] Geekcoder555 opened #93 "Some pages have the same title, so the title cannot be used to distinguish pages."
## Description
Some pages have the same title, so the title cannot be used to distinguish pages.
As a user, Title should be different for each page to avoid confusion.

## Mocks
All pages have same title.
![screen shot 1939-12-07 at 5 55 26 pm](https://user-images.githubusercontent.com/36541665/36670422-478494ea-1b1e-11e8-8aad-afbac6db7bca.png)
![screen shot 1939-12-07 at 5 56 09 pm](https://user-

[2018-02-26 12:34] AnkitKhatri55555 opened #94 "This page(contactus.html) contains a link using the tel: protocol. This is not supported by desktop browsers and iPads"
## Description
This page(contactus.html) contains a link using the tel: protocol. This is not supported by desktop browsers and iPads.
  | On desktops, laptops and devices without a mobile SIM or Skype an error message is usually displayed:
Chrome on Windows 7/10 does nothing when the link is clicked
Firefox on Windows 7/10 displays the message 'The address wasn't understood'
IE11 on Windows 7 dis

[2018-02-26 12:37] Geekcoder555 opened #95 "No meta description tag found"
## Description
No meta description tag found. Use a description tag that accurately describes the contents of a web page.
 A well-written meta description attracts more clicks in search results than an irrelevant or missing description.

## Mocks

## Acceptance Criteria
meta description tag should be added to html files.
### Update [Required]
- [ ]  index.html
- [ ] code-of-conduct.html
- [ ] cont

[2018-02-26 12:45] AnkitKhatri55555 opened #96 "Link to home page on"
## Description
Many sites place the organization's logo on the top of every page and link it to the homepage. While many users expect logos are clickable, some of them will not realize that links to the homepage. Therefore, as a user i would expect  a link labeled 'Home' near the top of the page. So a link to home page should be added to help those users.

## Mocks
![screen shot 1939-12-07 at 6 14

[2018-02-26 12:48] shreyateeza commented on #95
@AnkitKhatri55555 Please create a checklist of all the files that require this addition in Update [Required] of Acceptance Criteria section.

[2018-02-26 12:49] shreyateeza commented on #93
@AnkitKhatri55555 Please create a checklist of all the files that require this change in Update [Required] of Acceptance Criteria section.

[2018-02-26 12:50] shreyateeza commented on #92
@AnkitKhatri55555 This issue needs to be closed.

[2018-02-26 12:52] shreyateeza commented on #96
@AnkitKhatri55555 Please create a checklist of all the files that require this addition in Update [Required] of Acceptance Criteria section.

[2018-02-26 12:58] Geekcoder555 opened #97 "Suggestion:Identify row and column headers in data tables using TH elements, and mark layout tables with role='presentation'."
## Description

Identify row and column headers in data tables using TH elements, and mark layout tables with role='presentation'.

Data tables allow screen reader users to understand column and row relationships. Layout tables read cells as a series of unrelated paragraphs with no tabular structure. Without TH or ROLE, screen readers apply heuristics to decide whether a table is a layout table or

[2018-02-26 13:00] #92 closed

[2018-02-26 13:04] shreyateeza commented on #97
Nice idea @AnkitKhatri55555! But this is a suggestion to give the page a good look. Right?
Things like this can be suggested on the proposal. So I don't think it should be made an issue now. But I surely know that this can be suggested in the proposal.
What do you think? @sara-02?

[2018-02-26 13:11] AnkitKhatri55555 commented on #95
@shreyateeza , done!

[2018-02-26 13:14] AnkitKhatri55555 commented on #97
@shreyateeza , yes i can surely suggest it in the proposal and i can proceed further on this case based upon your suggestions

[2018-02-26 13:42] sara-02 commented on #78
@Saichethan the reason I am saying that is because if it an issue on our code or our configuration of travis then retrying 5 times will still not help. But yes in some senarios it is an infra issue and then we would love to have an auto-retry, although it should not be immediate but at an interval of say 5 mins. If it still does not work, then a 3rd try at an interval of 10 mins. What do you say a

[2018-02-26 13:47] sara-02 commented on #90
@divyanshu-rawat Since this is documentation issue, I leave it to @Janiceilene where we should take it up or not.

[2018-02-26 13:50] divyanshu-rawat commented on #90
No problem :)

[2018-02-26 13:51] sara-02 commented on #97
@AnkitKhatri55555 you can surely add it to your proposal, and this issue can be labeled with the `GSoC2018` tag.

[2018-02-26 14:01] sara-02 commented on #55
@MeepyMay please close this issue.

[2018-02-26 14:09] #55 closed

[2018-02-26 14:24] shreyateeza commented on #96
@luthfiFauzi Want to try this issue? If you have any queries, feel free to ask here. :smile:

[2018-02-26 14:27] LuthfiFauzi commented on #96
Thank you @shreyateeza for this issue.

[2018-02-26 19:09] sara-02 commented on #61
@simsausaurabh The Description has been updated with the link.
Also the PR #99 Updates the README with the required info.
So please close this issue now :)

[2018-02-26 19:37] simsausaurabh commented on #61
@sara-02 the link provided in README now is the link of local deployment. I am suggesting for the link for remote/upstream deployment.

[2018-02-26 19:40] simsausaurabh commented on #61
And we can mention this issue in the respective PR to automatically close it when PR referenced to this issue gets merged. Because the linked PR solves this issue, so it would be conventional to reference rather than closing the issue. Thanks.

[2018-02-26 20:34] Janiceilene commented on #61
I added a link to the description of the repo.  Closing the issue.

[2018-02-26 20:34] #61 closed

[2018-02-26 20:36] Saichethan commented on #95
Can I work on this...@Ankitkhatri

[2018-02-27 06:31] sara-02 commented on #91
@divyanshu-rawat For the time being I will let this issue be, because other might face it well.
Also can you comment with the steps that can help overcome this problem @shreyateeza please add your comments as well, with the steps you took to overcome this issue.

[2018-02-27 07:11] Saichethan opened #102 "Fixed broken links PR#101"
## Description
As a USER,
I need fix couple of broken links,
so that I can make website more interactive & responsive.

## Mocks
http://systers.io/RGSoC/2018.html
http://systers.io/Outreachy/2017.html

## Acceptance Criteria
### Update [Required]

index.html
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval

[2018-02-27 07:14] Saichethan commented on #102
Two broken links in index.html are fixed
1.Outreachy
2.RGSoC

[2018-02-27 07:15] LuthfiFauzi commented on #96
I am working in this issue

[2018-02-27 09:01] sara-02 commented on #102
@Saichethan You have not added any information in the issue, you just copied the format. Please update the issue, else we will have to close it.

[2018-02-27 09:01] sara-02 commented on #102
It would be great if you can share screenshots of the broken linking, and add the estimates in the issue.

[2018-02-27 09:25] Saichethan commented on #102
![screenshot 16](https://user-images.githubusercontent.com/34788026/36720471-32f70430-1bce-11e8-84d5-68716d23d9d3.png)
![screenshot 17](https://user-images.githubusercontent.com/34788026/36720478-38579138-1bce-11e8-8e90-d0d0a5e21bb1.png)

[2018-02-27 11:37] AnkitKhatri55555 commented on #102
@sara-02 ,I think similar issue is already there,#80

[2018-02-27 11:38] AnkitKhatri55555 commented on #95
@Saichethan , have you submitted a PR regarding this issue?

[2018-02-27 12:18] sara-02 commented on #102
@AnkitKhatri55555 no, the problem here is the name of the RGSOC and Outreachy folders have changed. @Saichethan Correct me if I am wrong.

[2018-02-28 07:55] anumehaagrawal opened #106 "Size of social media icons should be reduced in mobile view"
## Description
As a user,
I need reduce the size of icons in mobile
so that I can improve UI

## Mocks
![screenshot-2018-2-28 systers open source projects by systers 1](https://user-images.githubusercontent.com/25412153/36776053-7d5c3a2e-1c8a-11e8-914f-736bb51cbdc7.png)

## Acceptance Criteria
### Update
- Footer code needs to be added to all the files . The code can be updated from the source cod

[2018-02-28 08:05] shreyateeza commented on #106
@anumehaagrawal Please write the names of all these files which require this change in Update [Required] of Acceptance Criteria section. :wink:

[2018-03-01 19:38] Saichethan commented on #102
@sara-02 , you are correct !

[2018-03-02 04:03] BaaniLeen opened #107 "Maintain consistency in displaying the countries of the participants in the programs"
## Description
The names of the countries to which the participants or the mentors for the various programs (eg. Outreachy 2017, GSoC 2010, etc) belong should either be there for all of them, or not be there at all.

## Mocks
![screen shot 2018-03-02 at 9 13 39 am](https://user-images.githubusercontent.com/22029744/36882595-d0296b2a-1dfa-11e8-8a51-9624d4fd4fcf.png)
For example, for Outreachy 2017,

[2018-03-02 07:44] BaaniLeen opened #108 "Consistency in the height of each table data for the various programs"
## Description
Currently, for the various programs, the table having the details about the participants, mentors, etc does not have cells of consistent heights.

## Mocks
### Buggy Mocks

![screen shot 2018-03-02 at 10 18 58 am](https://user-images.githubusercontent.com/22029744/36885228-c531ad5c-1e0b-11e8-9852-2c5dfcf8a6c6.png)
GSoC 2014

![screen shot 2018-03-02 at 11 25 04 am](https://user-imag

[2018-03-02 10:14] divyanshu-rawat commented on #91
That's basically an issue with the caching please find attached a snapshot of the terminal to get more insights about this.
I hope it helps everyone when they will encounter this kind of problem.

![cached](https://user-images.githubusercontent.com/13464678/36894092-a972b62a-1e0a-11e8-92d7-c75c88670c79.png)

[2018-03-02 10:15] divyanshu-rawat commented on #91
@shreyateeza @sara-02 @MeepyMay @prachi1210 @simsausaurabh  Above I have explained the solution to the problem now you guys can close this issues. 👍

[2018-03-02 10:19] shreyateeza commented on #91
@divyanshu-rawat Cool!
@sara-02 I apologise for not providing the solution. Actually I have semester exams going on.

[2018-03-02 10:26] Jap-Leen commented on #66
Hey @MeepyMay I have updated the acceptance criteria! :)
@AnkitKhatri55555 Thanks for your contribution. Actually I was waiting for the approval of the mentors to start working on this issue! Nevertheless :)

[2018-03-02 10:53] sara-02 commented on #66
@Jap-Leen #84 already solves the issue, if you please that more work can be done on it, please leave a comment on the PR.

[2018-03-02 10:57] sara-02 commented on #107
@BaaniLeen I am not sure about the time estimates, if we are removing the country from all rows then 5 mins is fine, but if one has to search the profiles of the participants and then update the countries then it will be more than 5 mins :)

[2018-03-02 11:02] BaaniLeen commented on #107
@sara-02 Do we have a database having the information about all the GSoC or outreachy participants?

[2018-03-03 11:34] Tharangi opened #110 "Adding language to .travis.yml"
## Description
As a Systers GitHub pages developer,
I need to tell Travis CI that this should be built as a NodeJS project, and the latest version of Node to automatically build pull requests and add outputs to those PRs,
so that I can see if it is safe to merge a request without building it locally.

## Mocks
### Without Specifying the Language - Idetifies the project as a Ruby project
<img width

[2018-03-03 12:42] anumehaagrawal opened #112 "Fix overlapping data of programs table in mobile view"
## Description
As a user
I need reduce font size of table text
so that I can fix data in mobile view

## Mocks
![image](https://user-images.githubusercontent.com/25412153/36934355-40a88be2-1f0e-11e8-9b03-8f8b356b6d8d.png)

## Acceptance Criteria
Mobile view description needs to be added for .internships tag in styles.css
### Update [Required]
- [ ] styles.css

## Definition of Done
- [ ] All of th

[2018-03-03 13:55] Tharangi opened #113 "Reducing the gap between social media icons"
## Description
As a Systers community member,
I need to see social media icons in the footer without too much of gap in the web version,
so that I can have a better user experience.

## Mocks
#### Existing footer social media icons
![image](https://user-images.githubusercontent.com/7287218/36934926-c0654854-1f16-11e8-90f2-f81371ead14f.png)

#### Suggesting footer social media icons
![socila media

[2018-03-03 14:00] BaaniLeen commented on #110
@Tharangi Would you like to work on this issue? :)

[2018-03-03 14:02] BaaniLeen commented on #112
@anumehaagrawal Can you add instructions as to how to replicate the bug? It works fine on safari on iPhone. :)

[2018-03-03 14:04] BaaniLeen commented on #113
@Tharangi Would you like to work on this issue?

[2018-03-03 14:34] Tharangi opened #114 "Changing the social media icons to equal-sized icons"
## Description
As a Systers community member,
I need to see social media icons in the footer as an equal-sized icon set,
so that I can have a better user experience.

## Mocks
#### Existing social media icons
![image](https://user-images.githubusercontent.com/7287218/36935108-07881782-1f19-11e8-8bc6-98f0e8d6ad81.png)

#### Suggesting appearance
![socila media icons issue2](https://user-images.gith

[2018-03-03 14:39] BaaniLeen commented on #114
@Tharangi I am unable to replicate the issue. In the given current scenario screenshot too, the social media icons seem to be of the same size only.
Can you please help me understand the issue you are facing, better?

[2018-03-03 14:45] Tharangi commented on #113
@BaaniLeen, you are free to work on this. :)

[2018-03-03 14:47] BaaniLeen commented on #113
Thank you @Tharangi ! :)
@Janiceilene @prachi1210 Can you please assign me this issue? :)

[2018-03-03 14:54] Tharangi commented on #114
Sure. Let's see the sizes of the existing icons.

- Twitter icon: 400 x 400 px
- Facebook icon: 100 x 100 px
- Youtube icon: 734 x 518 px
- Medium icon: 390 x 390 px
- Blogger icon: 64 x 64 px

So what I am suggesting is to use equal-sized icons, i.e. 48 x 48 px **_OR_** 64 x 64 px icons for all social media icons.

Is it clear to you now?

[2018-03-03 14:56] BaaniLeen commented on #114
Oh okay! Thats a great observation! :)
Thanks :)

[2018-03-03 15:12] BaaniLeen commented on #114
@Tharangi I would suggest that instead of using the image tag to place images of the symbols for social media contact icons, we use Font Awesome icons, instead! :)
What are your views upon it? Can I go ahead and work on this issue? :)

[2018-03-03 16:33] ancyp opened #115 "move "contact us" links as icons to "find us at""
## Description
As a user of the website, it is confusing to see 2 sections - "contact us" and "find us at".
Moreover "Contact us"- Slack, github, mailing list -  is hidden away under "about us". The relevant icons can be directly added to the other social media icons in the footer, so that  I have easier access to contacts.

## Acceptance Criteria
### Update [Required]
- [ ] code-of-conduct.html
-

[2018-03-03 16:48] ancyp opened #116 "Optimizations"
## Description
As a user of the webpage, I'd like to be able to view the page faster.
Applying these optimizations may improve the speed of this page:
**Minify CSS:** Compacting CSS code can save many bytes of data and speed up download and parse times.
**Optimize images:** Properly formatting and compressing images can save many bytes of data.
Check the following link to get a direct link to down

[2018-03-03 16:52] ancyp opened #117 "About us tab irrelevance"
## Description
As a user of the website, I would prefer the links under "About us" - code of conduct and reporting guidelines to be under "Others" or in the footer like in https://ghc.anitab.org/ or as links in text under "Welcome to Systers' Open Source!" section of home page, so that  I do not find a irrelevance of the same.

## Acceptance Criteria
### Update [Required]
- [ ] code-of-conduct.htm

[2018-03-03 17:06] ancyp opened #118 "Removing redundant code for header and footer"
## Description
As a contributor, I would prefer to use a common html file for header and footer instead of  redundantly using  these snippets  in multiple html files, so that I do not need to modify multiple files to do a change in header/footer.

 This can be avoided by jQuery or pure Javascript.
https://stackoverflow.com/questions/44502243/single-navigation-bar-across-website

## Acceptance Crit

[2018-03-03 17:11] ancyp opened #119 "Fixed navbar"
## Description
As a user of the website, I'd like to be able to access the header even when I reach the bottom of the page. A fixed navbar or "Go to Top" link would help.

## Acceptance Criteria
### Update [Required]
- [ ]  index.html
- [ ] code-of-conduct.html
- [ ] contactus.html
- [ ]  gsoc/2009.html
- [ ] gsoc/2010.html
- [ ] gsoc/20111.html
- [ ] gsoc/2012.html
- [ ] gsoc/2013.html
- [ ] gsoc

[2018-03-03 17:16] ancyp opened #120 "Improper Indentation under systers weekly updates in contactus"
## Description
As a user of the webpage, I would like to see Phone numbers in line with paragraph, so that it is visually pleasing to the eye.

## Acceptance Criteria
### Update [Required]
- [ ] contactus.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5 minutes

[2018-03-03 17:19] shreyateeza commented on #120
@ancyp Please update the Description. Write as per the template.

[2018-03-03 17:19] shreyateeza commented on #118
@ancyp Please update the Description. Write as per the template.

[2018-03-03 17:34] ancyp opened #121 "Logos of programs"
## Description
As a user of the webpage, it would be nice to have small sized logos of GSoc, Outreachy, RSoC under programs, to the left of their respective year wise links, so that I can get a better user experience.

## Acceptance Criteria
### Update [Required]
- [ ] index.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
20 min

[2018-03-03 17:51] shreyateeza opened #122 "Add Description of the Open Source Internships"
## Description
As a Syster community member,
I need to add the following-

1. Description of the open source internships like GSoC, RGSoC, etc.
2. Mention who can participate in these like Female, Male or Both.
3. Provide links to their respective pages.

so that I can help newcomers have better user experience.

## Mocks
![gsoc](https://user-images.githubusercontent.com/30488330/36937454-7312f182

[2018-03-03 18:43] Saichethan commented on #116
@ancyp  Google insight will do that, but for any working directory it's not preffered to optimize content.
That's a good idea but should only be helpful once there are no more further commits

[2018-03-03 18:48] Saichethan commented on #119
@ancyp  actually if u have joined slack (I don't know if you are) in gh-pages thread there are some specifications for new website that is to be build please check that link, this is included if I am not wrong

[2018-03-04 03:44] anumehaagrawal commented on #112
@BaaniLeen  Check this on firefox , and even the font size of  table heading needs to be reduced ( as viewed in Chrome ) .

[2018-03-04 03:58] BaaniLeen commented on #112
@anumehaagrawal The issue is because for the td tag in style.css, we have used Overflow:auto, therefore, in case of an overflow, it works fine with Safari as well as chrome, but does not work so with Firefox! :)
A similar problem and its solution has been discussed here! https://stackoverflow.com/questions/16328233/overflow-auto-does-not-work-in-firefox. :)

[2018-03-04 05:43] BaaniLeen commented on #113
@prachi1210 @Janiceilene Please review the Pull Request for this issue. Also, instead of making the changes in all the HTML files, as mentioned in the issue, I made changes in the Stylesheet to reflect the change for all the webpages.
Thanks! :)

[2018-03-04 07:05] Tharangi commented on #114
Yeah, we can do that, I prefer using coloured icons though. Anyways I will attach here the icon images I used in the mockup. There are available to download from [here](https://www.iconfinder.com/iconsets/social-network-24).
![if_twitter_2460210](https://user-images.githubusercontent.com/7287218/36943038-f2ce1ac8-1fa7-11e8-9889-8bb147d9795d.png)
![if_blogger_2460209](https://user-images.githubuser

[2018-03-04 07:09] Tharangi commented on #113
Good work, @BaaniLeen. Did you check how icons look on mobile versions as well after your change?

[2018-03-04 12:36] amanvats commented on #122
I would like to work on this. Can I?

[2018-03-04 12:41] shreyateeza commented on #122
@amanvats Sure! Go ahead. :+1:

[2018-03-04 13:55] BaaniLeen commented on #113
@Tharangi Thanks alot! No, I could not since the current version of code in the repo is not hosted anywhere as of now. Can you please guide me as to how to go about checking it for the mobile version? :)

[2018-03-04 14:22] shreyateeza commented on #93
Already a PR for this has been created. Feel free to take another issue @Vertika-Shukla :)

[2018-03-04 14:25] AnkitKhatri55555 commented on #93
@shreyateeza , there is no PR yet for this issue

[2018-03-04 14:25] AnkitKhatri55555 commented on #93
@Vertika-Shukla , you can go ahead

[2018-03-04 14:28] Vertika-Shukla commented on #93
@AnkitKhatri55555 Okay! Thank you

[2018-03-04 14:36] Geekcoder555 opened #124 "The most common keywords should appear in one or more of the meta-tag-for SEO"
## Description
The  most common keywords should appear in one or more of the meta-tags above. The  primary keywords should appear in the meta-tags to help identify the topic of the  webpage to search engines.

systers
projects
code
corps
source

Fix:
First of all, you must make sure that the page is using the meta-description tags.
Second, you must adjust these tags content in order to include som

[2018-03-04 14:41] sara-02 commented on #124
@AnkitKhatri55555 Is this related to https://github.com/systers/systers.github.io/issues/95?
Can you update the previous issue instead of opening a new one?

[2018-03-04 14:51] Paarmita commented on #121
@ancyp Could I take up this?

[2018-03-04 15:50] sara-02 commented on #121
@ancyp @Paarmita this looks like a duplicate of #113.
Also we have a PR https://github.com/systers/systers.github.io/pull/123 for issue #113.
Please check the issue and the PR and close this one if a duplicate.

[2018-03-04 17:50] AnkitKhatri55555 commented on #124
@sara-02 ,I think it should be kept as a separate one

[2018-03-04 18:25] kanmodi opened #126 "Update framework/language used for each project"
## Description
As a Syster community member,
I need the following technologies/frameworks used in each project to be added in brackets.

## Mocks
Current
![image](https://user-images.githubusercontent.com/17910094/36948868-e0ab3268-2006-11e8-9662-fd4923dbe5a0.png)
Required
![image](https://user-images.githubusercontent.com/17910094/36948904-579ba60a-2007-11e8-9316-660a7753b0a0.png)

## Acceptance

[2018-03-04 18:41] kanmodi opened #127 "Correct redirection of RGSoC and Outreachy Pages"
## Description
As a user,
I need to correct the links in code so that it redirects to correct page when RGSoC 2019 and Outreachy 2017 links are opened.

## Mocks
Current
![image](https://user-images.githubusercontent.com/17910094/36949082-9c7b6aba-2009-11e8-8e4f-8f23d2da5339.png)
Required
![image](https://user-images.githubusercontent.com/17910094/36949095-c113c944-2009-11e8-9823-ac26a70e1d85.png)

[2018-03-04 20:52] sara-02 commented on #127
@kanmodi This looks like a duplicate of issue https://github.com/systers/systers.github.io/issues/102
Also there is a PR for the same #101
I request you to check the issue and the PR, and close this issue in case of duplicate.

[2018-03-05 00:11] BaaniLeen commented on #114
@MeepyMay @prachi1210 Please assign me this issue. :)

[2018-03-05 03:11] Janiceilene commented on #113
@BaaniLeen Do you have the Development tools enabled on Safari?  Or use the Dev tools in Chrome?  That's how I've been checking various screen sizes.

[2018-03-05 04:50] AnkitKhatri55555 commented on #127
Yes @kanmodi ,as pointed out by @sara-02 , it's a duplicate one

[2018-03-05 07:44] isunitha98selvan commented on #126
I would like to work on this.

[2018-03-05 08:29] isunitha98selvan commented on #124
I would like to work on this.

[2018-03-05 08:38] BaaniLeen commented on #113
@Janiceilene Sure! Thanks alot. Will try the same and let you know! :)

[2018-03-05 09:10] divyanshu-rawat commented on #127
yes, @kanmodi @sara-02 is right it's a duplicate one 👍

[2018-03-05 09:46] divyanshu-rawat commented on #113
Hi @BaaniLeen
You can make use Chrome DevTools' Device Mode for build mobile-first, fully responsive websites.
You can Emulate your site across different screen sizes and resolutions.
Toggle the Device Mode button to turn Device Mode on or off.
You can also toggle Device Mode by pressing Command+Shift+M (Mac) or Ctrl+Shift+M (Windows, Linux).
Please find attached screenshot for more details.

![sc

[2018-03-05 10:21] divyanshu-rawat commented on #122
@shreyateeza Nice I agree with you on the same 👍

[2018-03-05 10:23] divyanshu-rawat commented on #102
@Saichethan please update your issue information as well instead of copying the format 👍

[2018-03-05 10:30] divyanshu-rawat commented on #121
@sara-02 You are wrong, I guess this issue is about adding small-sized logos of the programs but issue #123 and issue #113 is all about reducing the size of the social media icons.
Correct me If I am wrong 👍
Please Look into it again and if this different assign someone on it.

[2018-03-05 10:34] divyanshu-rawat commented on #120
Ya, I agree with you on this 👍
@sara-02 and @shreyateeza I guess this is an issue that'a need to be resolved what do you think?
I have attached the screenshot visually showing issue created by @ancyp
![screen shot 2018-03-05 at 11 32 28 am](https://user-images.githubusercontent.com/13464678/36970451-f0b6e3f2-2068-11e8-9e58-f66914b173ab.png)

[2018-03-05 10:35] Saichethan commented on #102
@divyanshu-rawat  I think I changed comment if there is something I am missing

[2018-03-05 10:47] divyanshu-rawat commented on #102
@Saichethan Thanks 👍
But still, there are some changes needed to be done like
 - [INSERT NUMBER HERE] hours Remove this as well as you have already mentioned 5-10 Minutes.
 - (Enhancement to Update)Remove this as well as it is optional.

And the good practice is to attach screenshots of the issue in Mocks.
And it would be great if you can attach the link to the [index.html ](https://github.com/sys

[2018-03-05 11:43] Tharangi commented on #113
@BaaniLeen, I assume that you got the answer from above two comments.

[2018-03-05 12:35] amanvats commented on #122
This is my first contribution to open source. I have opened a pull request. Please let me know about my mistakes and ways to improve. Thanks.

[2018-03-05 12:38] isunitha98selvan opened #132 "Adding package-lock.json"
## Description
Running npm install (with npm v5.x.x) automatically generates the file package-lock.json. This file can be added to the repository , otherwise it has to be deleted explicitly before making a PR.

## Mocks
![image](https://user-images.githubusercontent.com/25410832/36975227-73f0603c-209f-11e8-83f3-bc631ad3c45d.png)
![image](https://user-images.githubusercontent.com/25410832/36975238-

[2018-03-05 12:48] sara-02 commented on #132
@isunitha98selvan Thanks, either this or we put it in the `gitignore`

[2018-03-05 12:50] sara-02 commented on #132
@Janiceilene @MeepyMay @prachi1210 this is problem which we are bound to encounter for this repo, and any Node related we have.
Newcomers installing `npm5+` version will end up generating a `package-lock.json`.
@isunitha98selvan can you please update your description with some documentation, blogs, stackoverflow Q/A where we can get more information about this? Will make it easier for us to track

[2018-03-05 12:52] sara-02 commented on #120
@ancyp @divyanshu-rawat feel free to add a PR for this :)

[2018-03-05 12:58] divyanshu-rawat commented on #132
@sara-02 I guess putting it in gitignore will resolve the issue.

[2018-03-05 13:07] sara-02 commented on #132
@divyanshu-rawat for a quickfix yes, but the question is whether we want to have a packag-lock.json or not. Need to see how it is generated, and modified, and how useful it will be to have it in the long run.

[2018-03-05 16:26] Vertika-Shukla commented on #117
@ancyp I want to work on this.

[2018-03-05 16:52] isunitha98selvan commented on #132
I came across a similar issue in another repository. They decided to put it in gitignore as there are still some issues to be addressed around package-lock.json. Here is the link to the discussion: https://github.com/hapijs/contrib/issues/114

[2018-03-05 17:09] sara-02 commented on #132
@isunitha98selvan Thanks. Looks like adding it to .gitignore works best for now. We can also add a .npmrc and make `package-lock=false`.

[2018-03-05 17:28] isunitha98selvan commented on #132
Yeah. I will send a PR soon fixing this issue.

[2018-03-05 19:28] sara-02 commented on #121
@divyanshu-rawat thanks. Yes these are separate issues :)

[2018-03-05 19:29] sara-02 commented on #121
@Paarmita you are free to take this up.

[2018-03-05 19:40] divyanshu-rawat commented on #121
@Paarmita feel free to take this task 👍

[2018-03-05 23:05] divyanshu-rawat opened #136 "Fix Broken Link"
## Description
As a User, I need to fix the broken link, So that I can enrich the user experience.
Fix broken link in member-levels.html Line 147 which is pointing to [](http://localhost:8001/index.html/#programs)

## Mocks
![screen shot 2018-03-05 at 11 57 13 pm](https://user-images.githubusercontent.com/13464678/37004627-526b5552-20d1-11e8-93d6-323b135a569f.png)

## Acceptance Criteria
### Updat

[2018-03-06 00:00] divyanshu-rawat commented on #119
@sara-02 what are your thought on this issue?

[2018-03-06 00:04] divyanshu-rawat commented on #118
@ancyp redundancy can also be removed by relying on a client-side library like react or client-side framework angular.js or to be more precise by building an SPA because as far as I know, JQuery is bit old now to work on.

[2018-03-06 00:10] divyanshu-rawat commented on #116
@Saichethan @ancyp We can make use of [Google Page Insights](https://developers.google.com/speed/pagespeed/insights/) to get insights about page performance and for minification and concatenation, we can make use of Gulp or Grunt to automate and facilitate the process.

[2018-03-06 00:11] divyanshu-rawat commented on #115
@ancyp you have written index.html and contactus.html twice please remove the duplicates 👍

[2018-03-06 00:12] divyanshu-rawat commented on #117
@ancyp You have written the index.html twice please remove the duplicate.

[2018-03-06 00:16] divyanshu-rawat commented on #114
@BaaniLeen you can also make use of bootstrap glyphicons
@Tharangi even we can assign colors to font-awesome icons as well.

[2018-03-06 00:18] divyanshu-rawat commented on #112
@anumehaagrawal I agree with you on this.
Overflow: auto does not work in Firefox 👍

[2018-03-06 03:59] Saichethan commented on #116
@divyanshu-rawat as this website is not fully developed and it would be developed by end of summer(GSoC) so, till that point of time minifying CASE or JS leads to confusions so, I would say do that once this project is done!
Correct me if I am wrong!

[2018-03-06 04:00] Saichethan commented on #116
@divyanshu-rawat as this website is not fully developed and it would be developed by end of summer(GSoC) so, till that point of time minifying CSS or JS leads to confusions so, I would say do that once this project is done!
Correct me if I am wrong!

[2018-03-06 04:02] Saichethan commented on #124
@sara-02, @isunitha98selvam I think this is duplicate of #100 PR
Please check!

[2018-03-06 06:40] Paarmita commented on #121
@ancyp Should the logos be added like this or on the heading?
![screenshot from 2018-03-06 12-08-03](https://user-images.githubusercontent.com/26546816/37017630-4ec74954-2137-11e8-99d3-d527e7e85205.png)

[2018-03-06 06:42] sara-02 commented on #121
@Paarmita I think adding them to the heading should be good enough Adding it for each year might get crowded overtime ;)
For Codeathons we are good beacuse different programs have different logos.

[2018-03-06 06:54] ancyp commented on #121
Thanks @sara-02. Am I allowed to give the task to someone or should I wait for the project managers to assign it? I read so somewhere on slack. Sorry I am new here.

[2018-03-06 09:02] sara-02 commented on #121
Also, @Paarmita has created a PR, PTAL and add your reviews.

[2018-03-06 09:12] divyanshu-rawat commented on #121
@Paarmita Thanks for the PR 👍

[2018-03-06 14:26] ikbalsingh commented on #132
We can use [NVM](https://github.com/creationix/nvm) by adding a .nvmrc file at the root of the project. By adding this, every user has to do

This way everyone works on the same node version and there are no problem with package-lock.json and it will also resolve version and dependency conflicts.

[2018-03-06 14:51] ikbalsingh commented on #94
So, is anyone working or what? Can I work on this @AnkitKhatri55555

[2018-03-06 15:00] santosh62 opened #140 "target of some links should be in new tab"
## Description
After clicking the all links of years of systers with GSoC and all the social links given at the footer it opens in same tab instead  of opening in new tab

## Mocks

![1](https://user-images.githubusercontent.com/29174089/37037079-8b2962ac-2177-11e8-8322-64d152cdb967.png)
after clicking at``` 2017```
it opens in same tab
![2](https://user-images.githubusercontent.com/29174089/37037

[2018-03-06 15:08] Paarmita commented on #140
@santosh62 Can I work on this?

[2018-03-06 15:15] santosh62 commented on #140
sorry @Paarmita  i'm working on this
i'm waiting for the ```mentors```` approval to pull request .

[2018-03-06 18:36] Janiceilene commented on #140
The links that point to an internal page, like the program tables should open in the same tab. The social media links should open in a new tab.

[2018-03-07 04:09] santosh62 commented on #140
So should u work on only social media links?

[2018-03-07 14:48] shreyateeza commented on #64
PR already created. Check #71 :)

[2018-03-08 06:27] akshitac8 commented on #110
Hey @Tharangi Is this bug up for solving?

[2018-03-08 06:29] akshitac8 commented on #106
Hello,
Is this bug up for solving?

[2018-03-08 06:33] anumehaagrawal commented on #106
@akshitac8 Yes you can solve this . Make sure you test it in different browsers as well :)

[2018-03-08 06:41] akshitac8 commented on #106
Ohkay @anumehaagrawal, Thank you

[2018-03-08 10:01] akshitac8 commented on #106
Can I know the files, I need to edit.

[2018-03-08 10:33] divyanshu-rawat commented on #136
Hi, @akshitac8 ya it was a bug but it's resolved now.

[2018-03-08 10:47] shreyateeza commented on #106
@akshitac These files you have to edit -
index.html
 newcomers.html
 member-levels.html
 open-source-workflow.html
 reporting-guidelines.html
 contactus.html
 code-of-conduct.html
 gsoc/2009.html
 gsoc/2010.html
 gsoc/2011.html
 gsoc/2012.html
 gsoc/2013.html
 gsoc/2014.html
 gsoc/2015.html
 gsoc/2016.html
 gsoc/2017.html
 gsoc/2009.html
 RGSoC/2018.html
 Outreachy/2017.html

[2018-03-08 10:55] akshitac8 commented on #106
Thank you for sharing the files.

[2018-03-08 12:41] krishnan2098 commented on #120
Is this resolved? Otherwise, Can I work on this?

[2018-03-08 15:20] divyanshu-rawat commented on #120
@krishnan2098 it is resolved now 👍

[2018-03-09 06:27] Geekcoder555 opened #144 "1 CSS property is overridden"
## Description
1 CSS property is overridden

Generally, it is unnecessary to define 2 times the same property within the same rule: the second one overrides the first.
This may affect the readability of CSS code. Eliminate unnecessarily overridden properties also reduce the file size.

How to improve it?
Remove one occurrence of the duplicated property. For example, the following properties:

## M

[2018-03-09 07:44] akshitac8 commented on #144
Hey,
Is this bug open for solving?

[2018-03-09 09:03] sara-02 commented on #144
@AnkitKhatri55555 Can you please let @akshitac8 know if this issue is being worked upon or not?

[2018-03-09 09:33] AnkitKhatri55555 commented on #144
Ya, @akshitac8 ,u can go ahead

[2018-03-09 10:34] divyanshu-rawat commented on #140
Ya, I agree with @Janiceilene on this 👍

[2018-03-09 10:38] divyanshu-rawat commented on #144
yup @akshitac8 Go Ahead 👍

[2018-03-10 05:03] santosh62 opened #145 "smooth scrolling to the same page links ( nav-bar links)."
## Description
As a user of the website, I'd like to have a smooth UX when i click on the on page anchor links (from nav-bar link eg.``` Join Systers``` , ``` projects``` , ``` Programms```).
Right now, link in the nav-bar to an anchor in the current page causes a jump scroll.

here is the sample pen of smooth scrolling effect .

https://codepen.io/santosh62/full/mxbbQv/

using this we can achieve

[2018-03-10 05:07] santosh62 commented on #145
@MeepyMay  @Janiceilene @divyanshu-rawat
should i work on this??

[2018-03-10 11:59] akshitac8 commented on #115
Hello,
Is this bug open for solving?

[2018-03-10 12:31] akshitac8 commented on #106
Hey @shreyateeza The current look for [Systers Website](http://systers.io/) is

![image](https://user-images.githubusercontent.com/21353757/37242263-6c2cd60a-248c-11e8-8725-b2dce7acc199.png)

Instead of removing the spaces between images,
![](https://user-images.githubusercontent.com/25412153/36776053-7d5c3a2e-1c8a-11e8-914f-736bb51cbdc7.png)

I think only decreasing the size gives a much better U

[2018-03-10 13:55] aayushinigam commented on #122
I would like to work on this issue. Is it still open?

[2018-03-10 14:44] akshitac8 commented on #144
Hey @AnkitKhatri55555 I have cleaned the CSS and deployed a [demo](https://systers.herokuapp.com/) website. It would be great if you can have a look. Also, the changes made does not change any kind of appearance for the [Systers](http://systers.io/) website. Should I generate a PR?

[2018-03-10 14:50] AnkitKhatri55555 commented on #144
Ya sure generate a PR, but some time ago ,we received a PR regarding the same

[2018-03-10 18:56] akshitac8 commented on #144
There seems to be some error in PR #146 given by Codacy. I think there were multiple changes done by @Vertika-Shukla That error is not shown in PR #147 as I have only changed only the required lines.

[2018-03-10 18:59] akshitac8 commented on #144
I have also tried to use the least number of lines in *styles.css* These changes are still not committed in the repo but reflect on [Heroku](https://systers.herokuapp.com/). If those look fine @AnkitKhatri55555 may I commit those as well in a separate PR.

[2018-03-10 19:00] AnkitKhatri55555 commented on #144
@akshitac8 , I think that's the error only for the case regarding usage of important as it's not encouraged to use

[2018-03-10 19:00] divyanshu-rawat commented on #122
@aayushinigam @amanvats has already sent the PR for the same which is still open.
@amanvats what's the status of your PR?

[2018-03-10 19:02] AnkitKhatri55555 commented on #144
Don't create a seperate PR

[2018-03-10 19:05] akshitac8 commented on #144
I agree @AnkitKhatri55555 The PR #146 shows the following lines were added in *styles.css* but I don't think they were required as far as this issue is concerned.
[code]

[2018-03-10 19:11] AnkitKhatri55555 commented on #144
Yes,@akshitac8 I agree, but I think in PR #146 , the changes were made at the required lines but she cut paste the code in styles.css ,so the addition is reflected

[2018-03-10 19:13] divyanshu-rawat commented on #144
Ya, @akshitac8 don't create a separate PR 👍.
And Yes, @AnkitKhatri55555 she just copy pasted the code that's why it is reflecting +491 changes with 0 deletions.

[2018-03-10 19:18] akshitac8 commented on #144
@divyanshu-rawat I have already created PR #147 as I asked @AnkitKhatri55555 before. Is that PR ready to be merged or should I make any other changes?

[2018-03-10 19:18] divyanshu-rawat commented on #144
@akshitac8 I have replied to your Query in the PR 👍

[2018-03-11 07:30] amanvats commented on #122
Initially, my PR had merge conflicts. I have fixed that and have asked the community for review.

[2018-03-11 09:51] divyanshu-rawat commented on #122
@amanvats cool 👍
@aayushinigam PR is still under review.

[2018-03-11 17:58] santosh62 opened #148 "web page should have 'TOP' button which will scroll to top of the page."
## Description
As we don't have a fixed nav-bar ,the `top` button will help us to go to the top of the page
When a user scrolls past a certain point on the website, this helpful button appears, enabling users to easily return to the top of a page.It won't be visible until the user scrolls to that position, and if they scroll back up above that position, the button will disappear

we can place this

[2018-03-11 17:58] santosh62 commented on #148
@MeepyMay @Janiceilene @prachi1210 @divyanshu-rawat
should i work on this??

[2018-03-12 17:15] AnkitKhatri55555 opened #149 "Drop down show/hide onclick on mobile devices - need to hide when clicking outside or on menu header"
## Description
In mobile devices,  Drop down menu should function as show/hide on click - need to hide when clicking outside or on the same menu header itself, to make it easier for the user.

## Mocks
![screen shot 1939-12-21 at 10 40 47 pm](https://user-images.githubusercontent.com/36541665/37298515-7ae2f042-2646-11e8-8976-e6941f746288.png)

## Acceptance Criteria
The drop down menu should hide/

[2018-03-12 17:17] Vertika-Shukla commented on #149
@AnkitKhatri55555 I want to work on this.

[2018-03-12 17:20] AnkitKhatri55555 commented on #149
sure @Vertika-Shukla

[2018-03-12 17:22] shreyateeza commented on #149
@divyanshu @Vertika-Shukla @AnkitKhatri55555 an issue related to this one has already been created.
Check https://github.com/systers/systers.github.io/issues/65

[2018-03-12 17:53] AnkitKhatri55555 commented on #149
@shreyateeza , I think the issue you created was that the drop down menu hides the content below it.This one is just for hide/show on click purpose

[2018-03-12 20:10] divyanshu-rawat commented on #148
@rbhatia46 Have you asked anyone before taking up this issue and sending PR?

[2018-03-12 20:13] rbhatia46 commented on #148
@divyanshu-rawat I am sorry I wasn't aware of this. I just had a look at this issue and found this was a quick fix for the website, therefore, I had sent the PR.

[2018-03-12 20:22] divyanshu-rawat commented on #148
@rbhatia46  So, you were not aware that when you contribute to open-source then before sending the PR you have to ask the maintainers to assign you the issue? Maybe it's your first time in open-source I guess Am I right 👍

[2018-03-12 22:51] MeepyMay commented on #66
@Jap-Leen Feel free to fix this! Thank you for waiting for approval. This is a valid issue.

[2018-03-12 22:53] MeepyMay commented on #78
Does not follow template structure. Closing Issue.

[2018-03-12 22:53] #78 closed

[2018-03-12 23:04] MeepyMay commented on #90
This is not necessary. Grammarly works well with essays, but has a lot of weaknesses with short-hand and bullet points. [Resource](http://blog.karenwoodward.org/2013/03/review-of-grammarly-strengths-weaknesses.html)

[2018-03-12 23:04] #90 closed

[2018-03-12 23:06] MeepyMay commented on #91
Closing. Thank you for working it through @divyanshu-rawat. Please help any students who are struggling.

We used Glitch when developing version 1.0, so it may have caused a few bugs.

[2018-03-12 23:06] #91 closed

[2018-03-12 23:07] divyanshu-rawat commented on #91
@MeepyMay I will help surely help any student who is struggling with this 👍

[2018-03-12 23:07] MeepyMay commented on #94
Please use the template. The description is too long and the Acceptance Criteria isn't thorough.

[2018-03-12 23:07] #94 closed

[2018-03-12 23:11] MeepyMay commented on #149
Please use #65 to include all errors in the DropDown Menu.

[2018-03-12 23:11] #149 closed

[2018-03-12 23:11] MeepyMay commented on #65
Please include #149 errors in this issue to be inclusive of everything the DropDown Menu needs fixed.

[2018-03-12 23:12] shreyateeza commented on #65
@MeepyMay sure! :+1:

[2018-03-12 23:21] shreyateeza commented on #70
@MeepyMay Can you please assign me this issue to work on?

[2018-03-12 23:22] MeepyMay commented on #148
Please update to our template's standards. [Use this issue as a reference.](https://github.com/systers/celebration/issues/6)

Shorten the description, add the "Mocks" section back since you have an example, then move the action items from the description to the "Acceptance Criteria." For example, "Add Back to Top button in all web pages:" with the list that you wrote down above.

It needs to go un

[2018-03-12 23:22] #148 closed

[2018-03-12 23:23] MeepyMay commented on #145
Please update this issue. Similar comments as issue #148

[2018-03-12 23:23] #145 closed

[2018-03-12 23:25] MeepyMay commented on #140
As @Janiceilene mentioned, it's an internal page. If you would like to work on the social media links, please update this issue to reflect as such. This is an enhancement. Please note that in the "Enhancement to Update" area in the issue template.

[2018-03-12 23:25] #140 closed

[2018-03-12 23:27] MeepyMay commented on #136
Resolved, so closing issue.

[2018-03-12 23:29] MeepyMay commented on #67
Closing. #110 addresses the same problem but is more thorough.

[2018-03-12 23:29] #67 closed

[2018-03-12 23:42] MeepyMay commented on #107
This is our only database. I'd love to have one and properly show countries here. Can you expand this issue? And add a database?

So adjust this as an enhancement to the project. :) Also, include that in your proposal @BaaniLeen

[2018-03-12 23:59] ExactlyMay opened #151 "Orientation Materials"
## Description
As a newcomer,
I need additional information,
so that I understand Systers Open Source.

## Mocks
Use [Public Lab](https://publiclab.github.io/community-toolbox/) for reference to update our [Newcomers](http://systers.io/newcomers) page.

## Acceptance Criteria
### Update [Required]
- [ ] Mock/Design for the updated Newcomers page.
- [ ] GitHub Issue integration that has live change

[2018-03-13 00:13] ExactlyMay opened #152 "Workflow Graph"
## Description
As an open source contributor,
I need learn how Systers Open Source develops their applications,
so that I can submit my first PR!

## Mocks
Use the current [version 1.0](http://systers.io/open-source-workflow) to help guide you through the details.

## Acceptance Criteria
### Update [Required]
- [ ] Create a mock/design for the updated Workflow page.
- [ ] Includes all stages of th

[2018-03-13 01:53] MeepyMay commented on #108
You're free to work on this @BaaniLeen!

[2018-03-13 04:54] Saichethan commented on #151
Can mock be a photo copy of design hand drawn?

[2018-03-13 05:59] isunitha98selvan commented on #152
I would like to work on this.

[2018-03-13 06:13] prithaupadhyay commented on #152
Can I work on this? I'll start by creating mocks for the workflow graph after your approval.

[2018-03-13 07:22] manishakeim commented on #151
@Saichethan For mock-up designs, you can use Invisionapp or Photoshop to design them.

[2018-03-13 07:28] manishakeim commented on #152
@isunitha98selvan @prithaupadhyay You both can start with designing mocks and show it on slack channel and we will discuss further.

[2018-03-13 08:24] divyanshu-rawat commented on #151
@Saichethan even you can make use of framer or UX-pin as they offer more capabilities in comparison to that of invisionapp.

[2018-03-13 10:43] divyanshu-rawat opened #153 "Contributor Recognition"
## Description
As an open source Systers contributor,
I want to be recognized for my contribution.

## Mocks
Use [Coala's](https://coala.io/#/getinvolved) for reference.

## Acceptance Criteria
### Update [Required]
- [ ] Mock/Design for the New page.
### Enhancement to Update [Optional]
- [ ] Filter/search contributors.
- [ ] Short Bio of every contibutor.
- [ ] Add your own creative idea.

## De

[2018-03-13 11:10] sara-02 commented on #153
@divyanshu-rawat if I am not wrong then @BaaniLeen already had some ideas and mocks-ups around the same issue.

[2018-03-13 11:11] divyanshu-rawat commented on #153
@sara-02 then what to do?

[2018-03-13 11:15] sara-02 commented on #153
@divyanshu-rawat I don't think any issue was created for it previously. I just remember the mocks from the slack discussion. So let this issue be, who so ever works on it, can coordinate with you and Baani :)

[2018-03-13 11:16] sara-02 commented on #153
Also, you can add the appropriate tags for GSOC, and difficulty level

[2018-03-13 11:33] divyanshu-rawat opened #154 "Celebration Page"
## Description
As an open source Systers community member,
I want to know about the upcoming events organized by the AnitaB.org Local community members and how to join them.

## Mocks
- [ ] Create a mock/design for the page including Google calendar.
- [ ] Use [Community](https://community.anitab.org/) for reference.

## Acceptance Criteria
### Update [Required]
- [ ] Overview of systers communiti

[2018-03-13 11:35] BaaniLeen commented on #153
[Mockups_Meet_Us_V1.pdf.pdf](https://github.com/systers/systers.github.io/files/1806692/Mockups_Meet_Us_V1.pdf.pdf)
@divyanshu-rawat These were the mock-ups suggested by me on slack. Feel free to give suggestions regarding the same! :)

[2018-03-13 11:42] divyanshu-rawat commented on #153
@BaaniLeen LGTM but what I think you can still improve the user-interface design proposed by you for inspiration you can have look on [coala](https://coala.io/#/getinvolved) page.
And do you think that is there a point of adding LinkedIn because this is about contributor recognition not about connecting with the contributors.
Correct me if I am wrong somewhere.
what do you think @sara-02 ?

[2018-03-13 11:49] sara-02 commented on #153
Github is needed for sure. Apart from that other links are not so necessary. If I want I can volunteer to share my Linkedln, blog, or email. But Having only GitHub should do :)

[2018-03-13 11:50] BaaniLeen commented on #153
@divyanshu-rawat Please have a look at the discussion done on slack! You can add your ideas to the thread and get feedback from the mentors on the same :)

[2018-03-13 11:51] BaaniLeen commented on #154
@divyanshu-rawat Kindly see the repo systers/celebrations, and the issues enlisted there.
This is a duplicate issue. :)
Kindly close this issue.

[2018-03-13 11:53] divyanshu-rawat commented on #154
@BaaniLeen Ya, Thanks 👍

[2018-03-13 11:53] #154 closed

[2018-03-13 11:55] divyanshu-rawat commented on #153
Ya but @BaaniLeen feel free to add your ideas but not everyone is willing to share their LinkedIn profile due to privacy reasons that's what I am saying 👍 .

[2018-03-13 15:48] Vertika-Shukla commented on #153
@divyanshu-rawat Can I work on this?

[2018-03-13 19:53] prithaupadhyay commented on #152
@manishakeim  I have designed a mockup for the Workflow graph and I have shared it in the #ideas channel. I would love to receive your suggestions over that design.

[2018-03-14 13:41] akshitac8 commented on #106
Hello,
Can I get update over this issue.
Thank you:)

[2018-03-14 16:55] #110 closed

[2018-03-15 15:03] sara-02 commented on #144
@divyanshu-rawat #146 is also there, but @Vertika-Shukla you never asked for assignment of the issue. Please take of this, do not start working on the issue before making sure it is not assigned to someone else, helps avoid confusion for everyone :)

[2018-03-15 15:13] divyanshu-rawat commented on #153
@Vertika-Shukla, @BaaniLeen is already working on this I guess?
@BaaniLeen are u working on this?

[2018-03-15 17:04] Vertika-Shukla commented on #153
@divyanshu-rawat I have also started working on this for GSOC
Do I need to switch now?

[2018-03-15 17:06] sara-02 commented on #153
@Vertika-Shukla Are you submitting a PR currently or putting it as  part of GSoC proposal.

[2018-03-15 17:06] Vertika-Shukla commented on #153
@sara-02 I am putting it as a part of GSOC

[2018-03-15 17:08] sara-02 commented on #153
No issues then, you can add it to your proposal, just don't copy-paste Bani's solution, add your creative to it :)

[2018-03-15 17:08] BaaniLeen commented on #153
@Vertika-Shukla You are free to come up with your mockups for the same and discuss it with the mentors preferably, before your start to code, as suggested by @MeepyMay. :)

[2018-03-15 17:13] Vertika-Shukla commented on #153
@sara-02 @BaaniLeen I am working on the mockup for this. Will discuss with mentors on slack soon.

[2018-03-16 17:19] #120 closed

[2018-03-16 17:20] #121 closed

[2018-03-16 17:21] ancyp commented on #115
yes @akshitac8

[2018-03-16 17:29] ancyp commented on #117
@Vertika-Shukla can you please submit a PR with screenshots ?

[2018-03-16 17:31] ancyp commented on #127
@kanmodi please close this

[2018-03-16 20:59] divyanshu-rawat commented on #115
@akshitac8 yes, it is 👍

[2018-03-16 21:00] divyanshu-rawat commented on #127
@kanmodi yes, please close this.

[2018-03-16 21:03] Vertika-Shukla commented on #117
@ancyp I have already added a screenshot in my PR. Please have a look.

[2018-03-17 12:18] akshitac8 commented on #106
@anumehaagrawal @sara-02 Can I get an update on this so that I can move forward??

[2018-03-17 12:30] anumehaagrawal commented on #106
@akshitac8  Yes you may proceed , the size of the icons need to be reduced :)

[2018-03-17 12:42] akshitac8 commented on #106
Thank you :)

[2018-03-17 14:10] shreyateeza commented on #106
@akshitac8 What you suggested is better. So you can go ahead with it. :)

[2018-03-17 21:47] ancyp commented on #117
correct me if I am wrong @divyanshu-rawat, the student has to reference the PR ?
I can only see the student's commit on forked version here!

[2018-03-17 21:50] BaaniLeen commented on #117
@ancyp Yes. The PR needs to be referenced :)
@Vertika-Shukla Please create a pull request and reference it with the issue for the mentors to review. Thanks! :)

[2018-03-17 22:12] divyanshu-rawat commented on #117
Yes, @ancyp PR needs to be referenced.
@Vertika-Shukla please create a pull request and reference it 👍

[2018-03-22 18:03] Vertika-Shukla commented on #144
@sara-02 Sure, I will follow this from next time :)

[2018-03-23 12:29] sara-02 commented on #115
@ancyp While I agree that we currently have 2 points of contact, plus a join the slack section but let's take a moment to understand why we those two separate sections. The find us section with all the social media icons is more for following the Syster's activity. Think of it this way, if you like a page on fb, you don't necessarily contribute to that page or the org, you just follow it because y

[2018-03-23 12:30] sara-02 commented on #115
IHMO this requires for a deeper discussion and we need to have mock ups with new icon placements approved before taking up this issue.
@divyanshu-rawat @Janiceilene @MeepyMay

[2018-03-23 12:34] sara-02 commented on #115
@jericahuang @akshitac8 please share your design ideas and mocks here or in the PR you have created/want to create.

[2018-03-23 13:18] divyanshu-rawat commented on #115
@sara-02 I agree with you on this "Maybe we can better word these two sections to something like Participate in the community and Follow us on, instead of simply moving all icons under one hood as those serve different purposes."
Let's wait for @MeepyMay @Janiceilene Opinion 👍

[2018-03-23 16:34] jericahuang commented on #115
Here's a screenshot of what the FA icons will look like. You can specify their color (like you can with text, even change their color when hovering/clocking) and another advantage is that they load faster than images.
<img width="1399" alt="screen shot 2018-03-23 at 12 32 24 pm" src="https://user-images.githubusercontent.com/8077898/37841555-63b86afc-2e96-11e8-826a-5ed4c59e1587.png">

[2018-03-23 16:37] jericahuang commented on #115
I agree about separating them into two sections "Participate in the community" and "Follow us on"

[2018-03-23 20:51] isabelcosta opened #159 "Member Levels > Other Participation Options > Mentor: "programs" has a link to localhost"
## Description
In the page [member-levels](http://systers.io/member-levels) of the website systers.io, under the section "Other Participation Options", the link for the word programs in the sentence "(...) various programs Systers participates in (...)" has a link to localhost. The following link: http://localhost:8001/index.html/#programs

## Mocks

Section of the page with the wrong link:

![ima

[2018-03-23 20:56] isabelcosta commented on #159
Can I fix this issue?

[2018-03-24 00:25] Janiceilene commented on #115
I don't mind using Font Awesome icons, but the number of icons at the bottom of your screenshot is overwhelming.  We'd definitely need to have a discussion about what the purpose of the bottom section is and what should be included there versus in the Contact Us section.

[2018-03-24 03:39] sara-02 commented on #159
@isabelcosta Thanks for reporting it in a structured format, but this seems to be a duplicate of https://github.com/systers/systers.github.io/pull/137

[2018-03-24 08:36] divyanshu-rawat commented on #159
@sara-02 it's duplicate one of #137 👍

[2018-03-24 18:26] isabelcosta commented on #159
@sara-02 @divyanshu-rawat I searched in the issues for the possibility of duplicate issues, but I didn't find that one. Sorry for creating an unnecessary issue. Glad the bug is being taken cared of :)

[2018-03-25 14:44] #159 closed

[2018-03-26 00:29] jericahuang opened #161 "Hovering over the "Contribute" navbar section hides "About Us" in collapsed state"
## Description
As a user navigating the page in a small-width screen,
I need be able to navigate to all of the pages via the collapsed navbar,
so that I can obtain the information I am looking for.

Right now, hovering over "Contribute" prevents the user from reaching "About Us" and its subpages.

## Mocks
Before hovering:
<img width="198" alt="screen shot 2018-03-25 at 8 27 13 pm" src="https://us

[2018-03-26 00:31] jericahuang commented on #161
Never mind, addressed in #65

[2018-03-26 00:31] #161 closed

[2018-03-26 10:57] Vertika-Shukla opened #162 "Link to contact us page contains .html extension in url"
## Description
Link to contact us page http://systers.io/contactus.html This url contains .html extension which is not a good practice. **.html** should be removed from url.

## Mocks
![image](https://user-images.githubusercontent.com/32086233/37902521-4c068956-3112-11e8-8a68-6704f23cdbc2.png)

## Acceptance Criteria
index.html should be modified accordingly

### Update [Required]
- [ ] index.html

[2018-03-26 10:58] Vertika-Shukla commented on #162
Can I work on this?

[2018-03-26 13:19] sara-02 commented on #162
@Vertika-Shukla this doe not look like a duplicate, so you can work on it.

[2018-03-28 13:22] eva-ave commented on #152
Hi, is this issue still looking for new contributors? :)

[2018-03-29 02:58] eva-ave commented on #152
Nah just here to help out! Ok I'll check it out on slack! Thanks alot @sara-02 !

[2018-03-30 12:11] akshitac8 commented on #106
Hello, @shreyateeza @anumehaagrawal @sara-02 I have created the PR #164  in reference to this issue.
KIndly review the changes :)

[2018-03-30 12:13] akshitac8 commented on #115
Great Work @jericahuang . I agree that we can use font awesome icons for this. I think, we can have something like `#1a237e` as the color for the icons. Also, the 5 icons looks best when seen at desktop as well as mobile versions. We can add **Slack**, **Github** and **Email** in a separate line by giving simple links.

[2018-03-30 13:14] shreyateeza commented on #106
Hi @akshitac8! As per the [Systers Open Source workflow](http://systers.io/open-source-workflow), firstly this issue needs to be approved by a maintainer first. Secondly, you should ask a maintainer if you can solve this issue. Previously many such PRs were closed which did not follow the Systers Open Source Workflow. So according to me, you should be on a safer side else your PR might get closed.

[2018-03-30 13:19] shreyateeza commented on #59
@sara-02 @divyanshu-rawat @ancyp I think this issue is now approved by May as she has added a label to it. So can I work on this issue now?
P.S.: I already created a PR for this issue but it got closed later because it didn't follow the Systers Open Source Workflow.

[2018-03-30 13:20] shreyateeza commented on #58
@sara-02 @divyanshu-rawat @ancyp I think this issue is now approved by May as she has added a label to it. So can I work on this issue now?
P.S.: I already created a PR for this issue but it got closed later because it didn't follow the Systers Open Source Workflow.

[2018-03-30 13:21] shreyateeza commented on #57
@sara-02 @divyanshu-rawat @ancyp I think this issue is now approved by May as she has added a label to it. So can I work on this issue now?
P.S.: I already created a PR for this issue but it got closed later because it didn't follow the Systers Open Source Workflow.

[2018-03-30 13:38] akshitac8 commented on #106
@shreyateeza I had asked to work on this issue a few days earlier and thought that it was assigned to me.

[2018-03-30 13:44] BaaniLeen commented on #106
@akshitac8 The issue needs to be assigned by any of the project mentors, before working as per the Systers OSS workflow to basically avoid multiple people from working on the same issue. As suggested by @shreyateeza please follow the Systers OSS workflow hereon, http://systers.io/open-source-workflow. :)

[2018-03-30 13:53] akshitac8 commented on #106
Hey @BaaniLeen I thought it was assigned to me by a mentor as seen [in this comment](https://github.com/systers/systers.github.io/issues/106#issuecomment-371393885).
I shall follow the Systers OSS. Thanks for the link :slightly_smiling_face:

[2018-03-30 14:08] divyanshu-rawat commented on #59
Yes, @shreyateeza you can work on this issue.

[2018-03-30 14:09] divyanshu-rawat commented on #58
Yes, you can work on this issue 👍

[2018-03-30 14:13] divyanshu-rawat commented on #57
@shreyateeza I have already assigned you 2 issues.
It would be great if you first send PR for those 2 (#58 #59) then you can continue to work on this as well because I think simultaneously dealing with all of them will be difficult.
let me know once you are done with sending PR for those 2.
@sara-02 correct me if I am my perception is wrong on this 👍

[2018-03-30 14:16] divyanshu-rawat commented on #106
@akshitac8 actually @anumehaagrawal is not a Mentor as mentioned by @BaaniLeen and @shreyateeza that only a Mentor can assign this issue to you.
So, it's still not assigned to you.

[2018-03-30 14:48] akshitac8 commented on #115
Hey @divyanshu-rawat  I suppose this one was [assigned](https://github.com/systers/systers.github.io/issues/115#issuecomment-373843468) to me. I have made a [working demo](https://systers.herokuapp.com/issue115/). Please review.

[2018-03-30 15:07] adityac8 commented on #69
Hey @sara-02 @MeepyMay Is this issue up for working?

[2018-03-30 15:09] adityac8 commented on #68
Hey @sara-02 @MeepyMay Is this issue up for working?

[2018-03-31 13:14] adityac8 opened #166 "Fix broken link"
## Description
As a USER,
I need fix a broken link,
so that I can make the website more interactive & responsive.

## Mocks
![image](https://user-images.githubusercontent.com/19192257/38163609-90dcc86e-3514-11e8-9d40-c9b83a2e0ac9.png)
Current Link
- http://localhost:8001/index.html/#programs

Required Link
-  http://systers.io/#programs

## Acceptance Criteria

### Update [Required]
- [ ] http://s

[2018-03-31 13:19] BaaniLeen commented on #166
@adityac8 The link http://systers.io/#programs works perfectly fine. Does it not work in the local version? Kindly provide the mockscreens for the same :)
Also, for the Update part, you need to mention the files which shall be updated to solve the given issue, so please update that too! :)

[2018-03-31 13:24] adityac8 commented on #166
@BaaniLeen I have updated the issue and added the mockup. I agree that the link http://systers.io/#programs works. But the link given on  http://systers.io/member-levels is broken.

[2018-03-31 13:34] adityac8 commented on #166
Hey @sara-02 @MeepyMay May I work on this issue?

[2018-03-31 17:45] divyanshu-rawat commented on #166
@adityac8 it's duplicate of #136.

[2018-03-31 17:47] divyanshu-rawat commented on #136
@MeepyMay it's still not resolved I am reopening the issue.

[2018-03-31 19:29] adityac8 commented on #166
Hey @divyanshu-rawat I didn't see that as I searched through the open bugs. Looks that you have generated a PR for that!! Nice to see how you have documented the issue. 👍  I would keep looking for any other bugs and generate a new issue for them 😃 Thanks for the response.

[2018-03-31 19:30] divyanshu-rawat commented on #166
@adityac8 Thanks 👍

[2018-04-02 06:38] sara-02 commented on #166
@divyanshu-rawat @adityac8 If this is duplicate issue then can we close this one?

[2018-04-07 18:20] isabelcosta opened #167 "Change the text for Systers Open Source mailing list in Contact Us page"
## Description
As a person interested in Systers' Open Source Mailing list,
I need see that the mailing-list is specific to Open Source related topics,
so that I can understand the scope of the emails I'm getting from the Systers Open Source mailing list.

On the [Contact Us](http://systers.io/contactus.html) page, the link for the [Systers' Open Source mailing list](http://systers.org/mailman/lis

[2018-04-07 18:32] isabelcosta commented on #167
@sara-02 is this a valid issue? Can I work on this?

[2018-04-08 06:04] sara-02 commented on #167
@isabelcosta Sure. You can add Syster's open source mailing list as the text instead.

[2018-04-08 12:29] isabelcosta commented on #167
Thank you @sara-02. Just a clarification, it's "Systers Open Source mailing list" without the apostrophe character, right?

[2018-04-08 13:53] isabelcosta commented on #167
@sara-02 I just noticed that similar to the mailing list, the link to Open Source Slack, also does not specifies that the slack is related to Open Source. I'm saying this because Systers have a slack not related to Open Source also. Is that relevant?

[2018-04-08 17:53] sara-02 commented on #167
@isabelcosta yes, nice catch.

[2018-04-08 18:07] isabelcosta commented on #167
@sara-02 can I also edit that on the PR I sent?

[2018-04-08 18:24] sara-02 commented on #167
@isabelcosta yes, update the link in the PR, and in the description section, add this issue number as well.

[2018-04-12 08:14] #167 closed

[2018-04-18 15:56] Tharangi commented on #166
Yes @sara-02. Let's close this since this a duplicate of #136 .

[2018-04-18 15:56] #166 closed

[2018-04-18 16:37] divyanshu-rawat commented on #166
@Tharangi 👍

[2018-04-18 17:07] adityac8 commented on #68
@Tharangi  Can I get an update on this. 😄

[2018-04-18 17:08] adityac8 commented on #69
@Tharangi  Can I get an update on this. 😃

[2018-04-18 18:12] Tharangi commented on #68
@anumehaagrawal, shall we give this to @adityac8 to fix OR will you fix this?

[2018-04-18 18:14] Tharangi commented on #69
@anumehaagrawal, shall we give this to @adityac8 to fix OR will you fix this?

@adityac8, Let's wait for @anumehaagrawal's reply first.

[2018-04-18 18:31] anumehaagrawal commented on #69
@Tharangi  This issue has been fixed by @Geekcoder555  at pr #88

[2018-04-18 18:38] adityac8 commented on #69
@anumehaagrawal PR #88 was closed at it was not assigned to anyone 😺

[2018-04-18 18:40] anumehaagrawal commented on #69
@adityac8  Okay then you ca go ahead fixing this issue :)

[2018-04-18 18:41] adityac8 commented on #69
Thanks @anumehaagrawal @Tharangi 👍

[2018-04-18 18:45] anumehaagrawal commented on #68
Yeah we can give it to @adityac8

[2018-04-18 18:46] adityac8 commented on #68
Thanks @anumehaagrawal @Tharangi 😄

[2018-04-18 19:03] #114 closed

[2018-04-18 21:05] #136 closed

[2018-04-18 21:06] #108 closed

[2018-04-19 08:14] Tharangi commented on #64
This is fixed in the current version of http://systers.io/open-source-workflow.

[2018-04-19 08:14] #64 closed

[2018-04-19 09:36] Tharangi commented on #102
Closing as this issue is resolved now.

[2018-04-19 09:50] Tharangi commented on #41
Closing. This is fixed now.

[2018-04-19 09:50] #41 closed

[2018-04-19 11:14] #144 closed

[2018-04-19 11:51] #102 closed

[2018-04-19 18:09] ancyp commented on #115
@divyanshu-rawat did we agree on having 2 sections?

@akshitac8 You need to comment saying you are working on it I believe - which is why there are 2 people now working on the same thing.
The colors need to be changed .. All blue doesn't look good.

[2018-04-19 18:15] ancyp commented on #106
@divyanshu-rawat did you mean to assign it to @akshitac8  her or are we waiting on something?
Looks like she has a PR already.

[2018-04-19 18:31] Janiceilene commented on #115
@divyanshu-rawat @ancyp Discussion is still ongoing.  I think many things about the navigation will change as we increase the functionality on the site.

[2018-04-19 20:20] jericahuang opened #169 "Populating GSoC data on one page"
## Description
As a user interested in looking through GSoC participant history,
I need look through them efficiently.

The current setup displays each year's data on a separate HTML page without navigation links to other years. This introduces friction in usability and page navigation. It means more pages that would need to be updated in an issue or PR.
<img width="401" alt="screen shot 2018-04-1

[2018-04-20 00:09] ExactlyMay opened #170 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [x] Update to [the template](https://docs.google.com/document/d

[2018-04-20 00:13] BaaniLeen commented on #170
@MeepyMay Can I work on this issue?

[2018-04-20 04:58] #60 closed

[2018-04-21 03:25] Tharangi commented on #170
@BaaniLeen You can work on this.

[2018-04-22 07:42] divyanshu-rawat commented on #170
@BaaniLeen Issue Assigned to you 👍

[2018-04-22 07:46] divyanshu-rawat commented on #169
I liked the idea it will enhance the user-experience as well.
I am in for this but let's see other mentors opinion on the same @MeepyMay, @Janiceilene , @sara-02, @Tharangi , @ancyp .

[2018-04-22 07:48] divyanshu-rawat commented on #162
@Vertika-Shukla issue assigned to you 👍

[2018-04-22 07:49] divyanshu-rawat commented on #153
@Vertika-Shukla are u still working on this? if yes then I can assign this issue to you.

[2018-04-22 07:52] divyanshu-rawat commented on #152
@isunitha98selvan , @prithaupadhyay are both of you still working on this issue?

[2018-04-22 07:52] divyanshu-rawat commented on #151
@Saichethan are you working on this?

[2018-04-22 07:58] divyanshu-rawat commented on #132
@isunitha98selvan #130 is fixing #126 or #132.
Let me know how it is fixing #132.

[2018-04-22 08:08] isunitha98selvan commented on #132
Fixes both #126 #132 . package-lock.json was added to .gitignore

[2018-04-22 08:10] divyanshu-rawat commented on #132
@isunitha98selvan got it but it would be great if you can also update your PR description stating  package-lock.json was added to .gitignore. 👍

[2018-04-22 08:33] Vaibhavi24 commented on #169
@jericahuang It is a good idea indeed. Will help to give comprehensive info at a glance.
Pls wait for suggestions from the maintainers @MeepyMay @Janiceilene @Tharangi

[2018-04-22 09:03] shreyateeza commented on #151
@divyanshu-rawat Can I work on this issue?

[2018-04-22 10:02] Vertika-Shukla commented on #153
@divyanshu-rawat I was working on this for GSoC so created the mocks for this issue. As told earlier that baani is working on this so didn't started to work for PR.
If now Baani is not working on this, I am then open to take up this issue. You can assign this to me.

[2018-04-22 10:05] Vertika-Shukla commented on #162
@divyanshu-rawat Thank You
Can I close the previous PR #163 and create a new fresh one?

[2018-04-22 10:11] BaaniLeen commented on #153
@divyanshu-rawat As discussed on slack, this is one of the tasks to be done during GSoC. So, I was suggested by Prachi & May to create the mockups and have a discussion regarding the implementation but start with the coding only during the GSoC period after finalising upon the final Mockup! :)

[2018-04-22 10:26] divyanshu-rawat commented on #153
cool got it @BaaniLeen let's wait then until GSOC period.
Although, is the final mockup ready?

[2018-04-22 10:27] divyanshu-rawat commented on #162
it has merged conflicts you can start with fresh one as well.
it depends on you.
Good Luck

[2018-04-22 10:35] Vertika-Shukla commented on #153
@divyanshu-rawat @BaaniLeen sounds cool. Let's wait then

[2018-04-22 10:41] Vertika-Shukla commented on #169
@jericahuang  Even I like the idea. Surely it will provide a great user experience.
Let's wait for more suggestions from maintainers.

[2018-04-22 15:47] Tharangi commented on #169
Sounds good to me...

[2018-04-24 06:10] debanjanah commented on #65
@shreyateeza Please update the description and include the error in this issue that clicking on menu header to hide the drop-down isn't working on mobile devices. Thanks!

[2018-04-25 12:41] BaaniLeen commented on #170
@MeepyMay @divyanshu-rawat @Tharangi Please review the updates done in the [Wiki Sidebar](https://github.com/systers/systers.github.io/wiki) and let me know if I missed out on something! :)

[2018-04-25 14:55] MeepyMay commented on #170
@BaaniLeen The sidebar is still missing.
![screen shot 2018-04-25 at 10 54 02 am](https://user-images.githubusercontent.com/2440938/39253986-196269a8-4877-11e8-8f53-5ebc5863c81d.png)

[2018-04-25 15:56] BaaniLeen commented on #170
@MeepyMay Sorry! I misunderstood it. Does it work now?

[2018-04-25 17:08] isabelcosta commented on #170
@BaaniLeen @MeepyMay I think the sidebar looks better now :) I jsut have one suggestion. Because there is a sidebar the existing pages list gets collapsed. Since the wiki has different types of pages, I would suggest to link the already existing pages like this:
What do you think?

![image](https://user-images.githubusercontent.com/11148726/39261152-82b14168-48b3-11e8-9ea1-6b259cbab5c9.png)

[2018-04-25 17:29] BaaniLeen commented on #170
@isabelcosta Surely! I can do that, but would not this happen every time a project updates the Wiki Sidebar? And if we add the same data in every project's Sidebar, would not that be very redundant. What are your views upon this?

[2018-04-25 17:40] isabelcosta commented on #170
@BaaniLeen Yes it will! The the pages list contains all the pages. You can choose how you present the pages in the sidebar instead of just seeing it as an unordered list. You don't have to create new pages and making redundant, you'll just have to put the link like this: [GSoC 2018] ... (https://github.com/systers/systers.github.io/wiki/GSoC-2018). Because the page already exists.

All the pages w

[2018-04-25 17:44] isabelcosta commented on #170
@BaaniLeen you can see an example here https://github.com/Netflix/ndbench/wiki/Configuration. You'll see that that page is in the pages list, but is highlighted in the sidebar, which is visible when someone goes to the wiki. This is from a study previouly done about wiki sidebars available in the Systers Open Source Drive.

[2018-04-25 18:46] divyanshu-rawat commented on #170
@isabelcosta I do with you on the same but I am a little bit confused what's the meaning of highlighted in the sidebar citing your example of an attached link does is it mean that Plugin list item contains unordered list items that are pointing to other plugins.

[2018-04-25 18:50] divyanshu-rawat commented on #170
@BaaniLeen Project Requirements,Setup and Install are still pointing to systers gh repo. 😃

[2018-04-25 18:51] BaaniLeen commented on #170
@isabelcosta @divyanshu-rawat Adding onto Isabelle's idea, I feel we can have a single customised sidebar with all the projects (and their related info under it as an unordered list ). And we can perhaps have each project have different pages to which the hyperlink on the project name relates to.

Something like :

Home
About Systers
Contribution Guidelines
Projects
     - Github Pages

[2018-04-25 18:53] divyanshu-rawat commented on #170
@BaaniLeen I liked your idea of enhancing the @isabelcosta idea.
I also think we can have a single customized sidebar with all the projects (and their related info under it as an unordered list ) etc.
let's wait for other mentors opinion on the same. 👍

[2018-04-25 18:59] BaaniLeen commented on #170
@divyanshu-rawat I have purposely added the links to the Github repo currently for the Setup & Install instructions & for the Project Requirements. Shall I add separate pages for the same in the Wiki itself?

Also, can I update the README file of the Repo to have the Project Requirement, Getting Started & Setup and Install Instructions as follow? Shall I create a separate issue for the same?
![scr

[2018-04-25 19:03] isabelcosta commented on #170
@divyanshu-rawat sorry for the confusion. When I say highlight, its just the idea of giving more focus to a page than the other. By comparison, the sidebar shows the same pages but gives an idea of the Parent Pages, and the pages that are subpages, instead of having all list without any type of hierarchy.
In this image, the sidebar gives a better idea of the content of the wiki by having the bulle

[2018-04-26 01:47] BaaniLeen commented on #69
@adityac8 Any update on this issue? Are you working on it or is it free to be assigned to anyone?

[2018-04-26 06:57] divyanshu-rawat commented on #69
@adityac8 any update on this?

[2018-04-26 11:47] adityac8 commented on #69
Hey @BaaniLeen I am working on this one. @divyanshu-rawat I got stuck with my exams and will be generating a PR in a day or two 😄

[2018-04-26 18:30] sara-02 commented on #169
@BaaniLeen I like you idea, however the current mockup even without the scroll table looks pretty clean.
@jericahuang Can you create a new mockup with the update comments so can get to see how it will look.
My only concern with using a single table format with scroll ,is that, the list might grow big every year. So we might need some sort of pagination to show maybe only the last 5 years table in

[2018-04-29 00:14] BaaniLeen commented on #170
@MeepyMay Shall I add separate pages in the wiki itself for the Setup & Install instructions & for the Project Requirements of Gh-Pages? What's your view about it. :)

[2018-04-29 00:39] BaaniLeen commented on #58
@shreyateeza Are you working on this issue? Or is this issue open for all to work upon?

[2018-04-29 00:40] BaaniLeen commented on #59
@shreyateeza Are you working on this issue? Or is it free to be assigned to anyone? :)

[2018-04-29 01:38] shreyateeza commented on #58
@BaaniLeen Sorry couldn't submit the PR on time. 🙈
You can go ahead.

[2018-04-29 01:44] shreyateeza commented on #59
@BaaniLeen as it was discussed before to have a separate html file for footer for the pages of systers.io so I thought that this could be implemented during the gsoc coding period. That's why I didn't  work on it.

[2018-04-29 05:14] BaaniLeen commented on #58
@divyanshu-rawat @ancyp Can we open this issue and also add the first-timers-only label? :)

[2018-04-29 19:38] BaaniLeen commented on #70
@shreyateeza Would you like to work on this issue? Or is it free to be assigned to anyone?
Please update! :)

[2018-04-29 19:40] BaaniLeen commented on #80
@divyanshu-rawat Is this issue resolved?

[2018-04-29 19:42] BaaniLeen commented on #95
@Geekcoder555 Would you like to on this issue? Or is this free to be assigned anyone else?
Please update! :)

[2018-04-30 04:52] anumehaagrawal commented on #65
@shreyateeza Any updates ?

[2018-04-30 04:53] anumehaagrawal commented on #44
@divyanshu-rawat  Can we close this issue then ?

[2018-04-30 04:59] BaaniLeen commented on #124
@Geekcoder555 Are you currently working on this issue? If not, @divyanshu-rawat Can I work on this issue since PR #100 has already been closed?

[2018-04-30 05:03] anumehaagrawal commented on #57
@shreyateeza Are you done with the previous issues and do you want this issue to be assigned to you ? If not , we will open this issue to others :)

[2018-04-30 06:51] divyanshu-rawat commented on #57
@anumehaagrawal As far as I know this is already open to being assigned to anyone @shreyateeza correct me If I am wrong?

[2018-04-30 07:58] divyanshu-rawat commented on #44
@anumehaagrawal  Yes, for sure we can close this

[2018-04-30 07:58] #44 closed

[2018-04-30 08:01] divyanshu-rawat commented on #124
@Geekcoder555 are u still working on this? else I am assigning @BaaniLeen 👍

[2018-04-30 08:04] divyanshu-rawat commented on #65
yup, I agree with the same @debanjanah.
1- clicking on menu header to hide the drop-down isn't working on mobile devices.
2 -When viewed in mobile, when the Contribute tab is expanded the About Us tab hides.

@shreyateeza any progress on this? if not let me know can I assign this issue to someone else?
@anumehaagrawal are you willing to work on this?

[2018-04-30 10:57] sara-02 commented on #132
@divyanshu-rawat @isunitha98selvan since we have already added a `package-lock.json` to the system, is this issue and subsequent PR still relevant?
https://github.com/systers/systers.github.io/blob/develop/package-lock.json
https://github.com/systers/systers.github.io/blob/master/package-lock.json

[2018-04-30 11:14] anumehaagrawal commented on #65
Yes @divyanshu-rawat  I will work on it  if @shreyateeza isnt working on it

[2018-04-30 11:45] divyanshu-rawat commented on #65
@anumehaagrawal let's wait till @shreyateeza revert.

[2018-04-30 11:46] anumehaagrawal commented on #65
@divyanshu-rawat  Yes :)

[2018-04-30 11:51] divyanshu-rawat commented on #132
@sara-02 actually PR is still in progress and have some merge conflicts that need to be resolved.
So, I guess we need to wait till PR is approved till then we can have this issue remain open.

And in the develop branch of this project `package-lock.json` is still not in `.gitignore` folder.

[2018-04-30 12:34] shreyateeza commented on #65
@anumehaagrawal You can go ahead! 🙈

[2018-04-30 12:35] shreyateeza commented on #70
I have my end semester exams going on. So its open. 😅

[2018-04-30 13:29] divyanshu-rawat commented on #70
@BaaniLeen are you willing to work on this?

[2018-04-30 13:31] divyanshu-rawat commented on #65
@anumehaagrawal I have assigned this issue to you.

[2018-04-30 13:31] BaaniLeen commented on #70
@shreyateeza All the best for your exams! :D
@divyanshu-rawat Yes, sure! Can you please assign me the issue? :)

[2018-04-30 13:34] divyanshu-rawat commented on #70
@BaaniLeen Issue Assigned 👍

[2018-05-01 04:30] ancyp commented on #169
sounds good.
@jericahuang are you  working on this?
@divyanshu-rawat can we assign it now or should we wait to hear from Janice?

[2018-05-01 04:36] ancyp commented on #59
Yep.
closing this then.

[2018-05-01 04:36] #59 closed

[2018-05-01 19:46] jericahuang commented on #169
<img width="1121" alt="screen shot 2018-05-01 at 3 44 47 pm" src="https://user-images.githubusercontent.com/8077898/39490373-abd54678-4d56-11e8-97d9-76c56ac3cb3f.png">

Here is a mockup combining @BaaniLeen 's and @sara-02 's ideas of having a scrollable tables that display 5 years of data. (in addition to having a specific year selector)

[2018-05-01 20:04] sara-02 commented on #169
@jericahuang Nice!

[2018-05-02 18:28] jericahuang commented on #169
Thanks! Does this mean I can begin the technical implementation?

[2018-05-03 19:31] sara-02 commented on #169
@jericahuang just keep in mind that the website theme might get a new look based on the finalised mockup that @BaaniLeen and @anumehaagrawal are working on. So try to keep your work as modular as possible so that later on, we don't have to redo it again.

[2018-05-04 00:25] jericahuang commented on #169
Will do.

[2018-05-04 01:44] AngieSky commented on #169
It looks good @jericahuang! let me know if you need a design meeting with @BaaniLeen  and @anumehaagrawal

[2018-05-04 06:04] jericahuang commented on #169
Thanks! Just left a message in their slack channel.

[2018-05-13 17:16] BaaniLeen opened #175 "Code Organisation in the Repo"
## Description
As a contributor,
I need organise the code in the repo,
so that I can keep restart the app as an Angular app as well as keep the app in sync with the angular seed code organisation.

## Acceptance Criteria

- Working Angular Application without breaking the current codebase.
- Establishing basic files & modules.

### Update [Required]
Nearly all current files(changing the hardcoded

[2018-05-14 12:53] BaaniLeen opened #178 "Update the README file"
## Description
As a contributor,
I need update the README File,
so that I can add the new commands required to run the Angular App.

## Acceptance Criteria
### Update [Required]
- [x] README.md

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
0.25 hours

@divyanshu-rawat @Janiceilene @ancyp Can you please assign me this issue to work

[2018-05-15 04:06] Janiceilene commented on #178
Assigned to Baani!

[2018-05-16 04:39] BaaniLeen opened #181 "Develop the Navigation Bar"
## Description
As a contributor,
I need develop the navigation bar,
so that I can navigate easily in the website.

## Acceptance Criteria

### Mockup
<img width="1440" alt="navbar" src="https://user-images.githubusercontent.com/22029744/40587166-21b24c8c-61e9-11e8-85f3-133d39899cf4.png">

### Update [Required]
Addition of a new file for nav-bar.

## Definition of Done
- [ ] All of the required ite

[2018-05-19 16:20] devshiva619 commented on #119
@ancyp hey I a beginner and would like to work on this issue, but need bit of clarification regarding the issue.

[2018-05-20 03:07] BaaniLeen commented on #118
@ancyp @divyanshu-rawat Can we close this issue now, since we are incorporating this in the new codebase? :)

[2018-05-20 06:04] sara-02 commented on #118
@BaaniLeen Can you refer this issue in the new codebase PR.`Fixes #issuenumber` should automatically close this issue once the new code PR is merged.
If it is already merged, then add a comment here with the PR link, so that we have a reference for it. And then, of course, we should close it :)

[2018-05-20 06:52] BaaniLeen commented on #118
Done! Thanks @sara-02 :)

[2018-05-20 16:34] ancyp commented on #119
@divyanshu-rawat @BaaniLeen aren't we doing a fixed navbar  in GSoC?

[2018-05-21 05:49] BaaniLeen opened #186 "Create Contact Us page"
## Description
As a developer,
I need create a contact us page.

## Mockups
![contact](https://user-images.githubusercontent.com/22029744/40292430-f6a03a36-5ce8-11e8-990c-c9fd4acb05e3.png)

## Acceptance Criteria
### Update [Required]
- [x] contact
- [x] contact.component.html
- [x] contact.component.scss
- [x] contact.component.ts

## Definition of Done
- [x] All of the required items are complet

[2018-05-21 19:31] Janiceilene commented on #186
👍

[2018-05-22 08:34] devshiva619 commented on #119
@ancyp Please let me know if I can work on.

[2018-05-24 11:54] BaaniLeen opened #187 "Create JSON Data Files Using GSOC 2015-2017 data"
## Description
As a contributor,
I need create JSON Data file for the years of GSoC 2015-2017,
to automate retrieval of data in future use (In the Programs Page).

## Acceptance Criteria
### Update [Required]
- New data files

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

@divyanshu-rawat @ancyp @Janiceilene Can you please

[2018-05-24 12:49] sara-02 commented on #187
@BaaniLeen Can you update the description as to what these `JSON Data files` will contain. Not the details, but a gist would help. Eg: `As a contributor,
I need create JSON Data files. So that Contributor data, and <> can be loaded from it.`
 IMHO the issue looks incomplete otherwise.

[2018-05-26 15:49] BaaniLeen opened #190 "Create Project Page"
## Description
As a contributor,
I need to create a Project Page,
so that I can see information related to each project.

## Mocks
![screen shot 2018-05-26 at 9 17 41 pm](https://user-images.githubusercontent.com/22029744/40577984-46c00a7e-612a-11e8-8eaa-f714c22442c7.png)

## Acceptance Criteria
### Update [Required]
- [ ] project.component.html
- [ ] project.component.css

## Definition of Done
-

[2018-05-27 03:20] ancyp commented on #169
@divyanshu-rawat shall we close this?

[2018-05-27 03:29] #95 closed

[2018-05-27 03:31] ancyp commented on #170
@ExactlyMay

[2018-05-27 03:48] ancyp commented on #186
I feel the image for contact us is not necessary.
<img width="1260" alt="screen shot 2018-05-26 at 8 44 39 pm" src="https://user-images.githubusercontent.com/7522358/40582281-cb0f2332-6125-11e8-8429-c0722138c7be.png">
Just the below contents is enough I feel @Janiceilene ?
<img width="1295" alt="screen shot 2018-05-26 at 8 44 55 pm" src="https://user-images.githubusercontent.com/7522358/40582284-0

[2018-05-27 08:43] divyanshu-rawat commented on #124
@BaaniLeen would like to work on it?

[2018-05-27 08:44] divyanshu-rawat commented on #65
Now we are building the new platform so I think we can close it.

[2018-05-27 08:44] #65 closed

[2018-05-27 08:45] divyanshu-rawat commented on #169
@ancy yes we can.

[2018-05-27 08:45] #169 closed

[2018-05-27 08:47] divyanshu-rawat commented on #186
Yes, I also think so you can arrange the phoen icons in the same indentation.

[2018-05-29 04:11] BaaniLeen commented on #124
@ancyp @divyanshu-rawat I would like to work it. I feel this can be done throughout the GSoC period or at the end of it, when all our webpages are ready. What are you views upon it?

[2018-05-29 04:11] #178 closed

[2018-05-29 04:12] #175 closed

[2018-05-29 04:12] #181 closed

[2018-05-29 04:14] BaaniLeen commented on #117
@ancyp Since the PR was closed by Janice, can we close this issue now?

[2018-05-29 04:17] BaaniLeen commented on #126
Will be covered in Issue #190

[2018-05-29 04:17] #126 closed

[2018-05-29 04:19] #118 closed

[2018-05-29 04:44] BaaniLeen commented on #113
@Tharangi @divyanshu-rawat Can we close this issue now?

[2018-05-29 04:58] BaaniLeen commented on #70
@divyanshu-rawat Can we close the issue since it is no longer applicable?

[2018-05-29 05:00] BaaniLeen commented on #69
@divyanshu-rawat @ancyp Can you either approve the PR or close this issue as it wont be relevant to the new codebase?

[2018-05-29 05:01] BaaniLeen commented on #66
@divyanshu-rawat @ancyp Can we close this issue since it is no longer relevant?

[2018-05-29 16:24] #113 closed

[2018-05-30 02:17] #117 closed

[2018-05-30 02:18] #70 closed

[2018-05-30 02:19] #69 closed

[2018-05-30 02:19] #66 closed

[2018-05-30 02:27] BaaniLeen commented on #68
This issue is no longer relevant to the new code.

[2018-05-30 02:27] #68 closed

[2018-05-30 02:27] #58 closed

[2018-05-30 02:29] BaaniLeen commented on #106
Closing this issue since we have switched to font awesome icons, which are consistent for mobile view too.

[2018-05-30 02:29] #106 closed

[2018-05-30 04:14] BaaniLeen commented on #112
Closing it since the issue is not valid in the new codebase. :)

[2018-05-30 04:14] #112 closed

[2018-05-30 04:16] BaaniLeen commented on #186
@Janiceilene @divyanshu-rawat The indentation has been updated in the PR. Can you please approve the same? :)

[2018-05-31 00:16] Janiceilene commented on #186
LGTM

[2018-05-31 02:13] ancyp commented on #186
@Janiceilene please approve in the actual PR.

[2018-05-31 04:29] Janiceilene commented on #186
@ancyp Thanks for catching that!  That's what I get for just clicking on notifications from my email without paying attention.

[2018-05-31 07:15] ancyp commented on #186
Doesn't this auto-close when I merged PR?

[2018-05-31 07:15] #186 closed

[2018-05-31 17:15] BaaniLeen opened #192 "Create JSON Data for GSoC 2009-2015"
## Description
As a contributor, I need to create JSON data for GSoC 2009-2015 to be able to have more code modularity.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Add new files for each year data.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
6 hours

[2018-05-31 17:21] BaaniLeen opened #193 "Create Slider for Home Page"
## Description
As a contributor,
I need create a Home Page,
so that users can get easy access to the information about Systers.

## Mocks
![screen shot 2018-05-31 at 10 49 15 pm](https://user-images.githubusercontent.com/22029744/40797223-0770a014-6525-11e8-9776-ff6364e6abd5.png)

## Acceptance Criteria
### Update [Required]
- [x] home.component.html
- [x] home.component.ts

## Definition of Done

[2018-05-31 17:33] BaaniLeen opened #194 "Create About Us Page"
## Description
As a contributor,
I need create an about us page (which can be separate from home page or on the home page itself),
so that users can get information about Systers.

## Mocks
![screen shot 2018-05-31 at 10 54 24 pm](https://user-images.githubusercontent.com/22029744/40797380-9db7930c-6525-11e8-9740-e7a3c10e9f24.png)
The about us info which also includes the map as shown below:
![scr

[2018-05-31 17:41] sara-02 commented on #194
@BaaniLeen Just a suggestion, it would be great if in the about us, you can have a placeholder `to know more various sub-chapters within Systers, and join a local group check out our communities website.`  With a link to communities portal. Since the portal is not live as of now, you can point to the Github repo and update the link later.

[2018-05-31 17:44] BaaniLeen opened #195 "Create a Map on the About us page"
## Description
As a contributor,
I need create a map on the About Us Page,
so that I can update the data fetch the data about countries and create a map accord

## Mocks
![screen shot 2018-05-31 at 10 54 01 pm](https://user-images.githubusercontent.com/22029744/40798124-ebb4c208-6527-11e8-90d7-696e45b16dd0.png)

## Acceptance Criteria
### Update [Required]
- [ ] about.component.html
- [ ] about.co

[2018-05-31 18:02] BaaniLeen opened #196 "Change social icons to Icon Stacked social icons"
## Description
As a contributor,
I need change social icons to stacked social icons,
so that I can have a better user experience.

## Mocks

Current Mockup :
![screen shot 2018-05-31 at 11 31 12 pm](https://user-images.githubusercontent.com/22029744/40799275-bce24a1a-652a-11e8-9f75-d4ad56219cf6.png)

Updated Mockup :
![screen shot 2018-05-31 at 11 25 07 pm](https://user-images.githubusercontent.co

[2018-06-01 20:01] BaaniLeen opened #200 "Make the Header and Footer full Width"
## Description
As a contributor,
I need have a full width header and footer,
so that I can ensure better user experience.

## Mocks
![screen shot 2018-05-31 at 7 26 03 am](https://user-images.githubusercontent.com/22029744/40860894-964e5cce-6604-11e8-8efe-6d64a6ef0b6d.png)

## Acceptance Criteria
### Update [Required]
- [ ] navbar.component.html
- [ ] navbar.component.scss
- [ ] navbar.component.t

[2018-06-01 20:18] BaaniLeen opened #201 "Mobile Responsiveness of Header and Footer"
## Description
As a contributor,
I need ensure mobile responsiveness of the app,
so that I can have a better user experience.

## Mocks

1) The footer is not mobile responsive. Covers nearly the entire screen.
![screen shot 2018-06-02 at 1 43 36 am](https://user-images.githubusercontent.com/22029744/40861365-6ec0cb22-6606-11e8-9bd4-7770ccc76eb8.png)

2) In the navbar, not all the options are displ

[2018-06-02 18:00] BaaniLeen commented on #194
@anumehaagrawal What is the url at which the systers portal will be accessible? :)

[2018-06-06 06:01] Geekcoder555 commented on #97
Anyone workin on it?

[2018-06-06 06:03] sara-02 commented on #97
@BaaniLeen @divyanshu-rawat Is this still valid, and open for others to contribute to? Please help @Geekcoder555

[2018-06-06 06:31] sara-02 commented on #187
@BaaniLeen The PR got merged, is there any work still left on this issue, or can we close it?

[2018-06-06 07:05] Geekcoder555 opened #204 "Still room for improvement to save data by serving appropriately-sized images"
## Description
Serve scaled images

Serving appropriately-sized images can save many bytes of data and improve the performance of your webpage, especially on low-powered (eg. mobile) devices.

## Acceptance Criteria
### Update [Required]
The following images are resized in HTML or CSS. Serving scaled images could save 53.3KiB (58% reduction).

    http://systers.io/images/footer-bars.png is resize

[2018-06-06 07:08] Geekcoder555 opened #205 "Leverage browser caching"
## Description
Leverage browser caching

Page load times can be significantly improved by asking visitors to save and reuse the files included in your website.

    Reduces page load times for repeat visitors
    Particularly effective on websites where users regularly re-visit the same areas of the website
    Benefit-cost ratio: high
    Access needed

General guidelines for setting expiries:

[2018-06-06 12:20] drashti4 commented on #122
Is this issue still WIP?

[2018-06-07 07:11] BaaniLeen commented on #204
@Geekcoder555 In the new codebase on the gsoc18-code branch, the social icons are no longer served from images but from font awesome icons. Can you please change the description according to the new codebase. :)
Also, would you like to work on the issue?

[2018-06-07 07:13] BaaniLeen commented on #205
Can you please update the description according to the new codebase in the gsoc18-code branch. We will be using Angular routing to create an SPA, i.e., to keep the navbar and footer as constants. If this issue is still applicable, would you like to work on it? :)

[2018-06-07 07:15] BaaniLeen commented on #187
@sara-02 Sure this can be closed :)

[2018-06-07 07:16] #187 closed

[2018-06-07 16:45] BaaniLeen opened #207 "Add Mobile Responsiveness for Contact Us Page"
## Description
As a contributor,
I need have my Contact Page as mobile responsive.

## Mocks

The alignment of the Phone buttons in the mobile view.
![screen shot 2018-06-07 at 10 13 46 pm](https://user-images.githubusercontent.com/22029744/41113770-2408863a-6aa0-11e8-97dd-60a58347d0cb.png)

The buttons text in the Tablet(iPad) mode:
![screen shot 2018-06-07 at 9 53 00 pm](https://user-images.gith

[2018-06-09 13:28] pprathameshmore opened #208 "Need format HTML code"
## Description
As a developer,
We need to intend HTML code,
so that I can work on this issue.

## Mocks
![code-format](https://user-images.githubusercontent.com/17108186/41192072-5ed2a3b4-6c16-11e8-8e1b-c58ab435444d.PNG)

## Acceptance Criteria
### Update [Required]
- All HTML files will be updated.
### Enhancement to Update [Optional]
- All HTML files will be updated.

## Definition of Done
- [x]

[2018-06-12 04:07] BaaniLeen commented on #208
@pprathameshmore Can you please update the description for the gsoc18-code branch, since that has the latest code, and confirm if this issue is still present in that branch.
If yes, @ancyp @divyanshu-rawat @Janiceilene can assign it to you work upon. :)

[2018-06-12 04:13] BaaniLeen opened #209 "Develop Newcomers Page - Non Coders ways of Contribution part"
## Description
As a contributor,
I need develop the non-coder way of contribution section,
so that I can inform them of the various ways of contributing to Systers.

## Mocks
![screen shot 2018-06-12 at 9 40 37 am](https://user-images.githubusercontent.com/22029744/41269748-b43d2a80-6e24-11e8-9766-29a95e7407a0.png)
![screen shot 2018-06-12 at 9 41 03 am](https://user-images.githubusercontent.com/2

[2018-06-12 05:10] BaaniLeen opened #210 "Create OSS Workflow Diagram"
## Description
As a contributor,
I need create an OSS workflow Diagram,
so that I can help newcomers know the workflow.

## Mocks
![screen shot 2018-06-12 at 10 38 04 am](https://user-images.githubusercontent.com/22029744/41271200-d38fb8a0-6e2c-11e8-92c6-2b2a4e9290b6.png)
![screen shot 2018-06-12 at 10 38 12 am](https://user-images.githubusercontent.com/22029744/41271202-d49d8114-6e2c-11e8-9100-63

[2018-06-15 03:28] pprathameshmore commented on #208
@BaaniLeen Issue is not present in gsoc18-code branch. Which description should I update?

[2018-06-15 03:46] BaaniLeen commented on #208
@pprathameshmore Since this issue is not there in the current code branch, we can close the issue?

[2018-06-15 03:48] BaaniLeen commented on #124
@pprathameshmore Would you like to work on this issue for the current gsoc18-code codebase?

[2018-06-15 03:52] pprathameshmore commented on #208
@BaaniLeen You said to update the description? Can you tell me exactly what I do?

[2018-06-15 03:55] BaaniLeen commented on #208
I had asked to edit the description of the issue you have created by clicking on the edit icon on the right hand side middle of the screen and update it according to the changes wrt the gsoc18-code branch.

[2018-06-15 04:06] BaaniLeen opened #213 "Fix indentation error"
## Description
As a contributor,
I need fix an indentation error in the app-routing.module.ts file,
so that I can remove the TSLint errors.

## Mocks
Current Status of the File :
![screen shot 2018-06-15 at 9 32 22 am](https://user-images.githubusercontent.com/22029744/41449542-4313f30e-707f-11e8-9dfd-8a53088061e3.png)
After Update the file should look like:
![screen shot 2018-06-15 at 9 33 33 am]

[2018-06-15 04:07] BaaniLeen commented on #213
@pprathameshmore Would you like to work on the issue?

[2018-06-15 04:09] #208 closed

[2018-06-15 09:00] devshiva619 commented on #213
@BaaniLeen Hey I am new to this community plz can I work on this ?

[2018-06-15 09:02] pprathameshmore commented on #208
@BaaniLeen Okay! I will find another issue!

[2018-06-15 09:09] BaaniLeen commented on #208
@pprathameshmore Would you want to work on Issue #213 ?

[2018-06-15 09:11] BaaniLeen commented on #213
Hey @devshiva619
Let's wait for @pprathameshmore to reply. :)
In case he does not reply for 24 hours, sure we can ask the mentors to assign you the issue to work upon. :)

[2018-06-15 18:20] Geekcoder555 commented on #124
Is anyone working on this?

On Fri, Jun 15, 2018 at 9:18 AM, Baani Leen Kaur <notifications@github.com>
wrote:

[2018-06-19 11:03] BaaniLeen opened #214 "Connect the Angular App to the MongoDB Database"
## Description
As a contributor,
I need connect the angular app to the MongoDB Database on MLab.

## Acceptance Criteria
### Update [Required]
- [ ] server/

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
20 hours

@Janiceilene @ancyp @divyanshu-rawat Can you please assign me the issue?

[2018-06-21 12:28] anumehaagrawal opened #215 "Adding data for membership levels"
## Description
As a Systems community member,
I need to see contributors to Systers Open Source projects membership level wise
So that I can identify the contributors.

## Acceptance Criteria
### Update [Required]
- [ ] contributors.component.ts
- [ ] contrib.ts

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
7 hours
@Tharangi @kanmo

[2018-06-21 15:20] BaaniLeen commented on #213
@devshiva619 Would you like to work on the issue?

[2018-06-21 15:26] BaaniLeen opened #216 "Create and Link the MongoDB Database on MLab with the Angular App - Epic"
## Description
As a contributor,
I need to create and Link the MongoDB database with Angular App,
so that I can use the API end points to serve data to and from the app.

## Acceptance Criteria
### Update [Required]
- [ ] Will be mentioned in the sub-issues.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
20 hours (Will be updated as

[2018-06-21 15:27] #216 closed, assigned to nobody

[2018-06-21 15:29] BaaniLeen opened #217 "Connect to the MongoDB Database on MLab"
## Description

As a contributor,
I need connect to the MLab Database through my terminal,
So that I can add and delete entries directly.

## Time Taken
3 hours (Fixed the different version error + authentication failure)

## Status
Done :)

[2018-06-21 15:29] BaaniLeen opened #218 "Create and Link MongoDB database on MLab with Angular App"
## Description
As a contributor,
I need to create and Link the MongoDB database with Angular App,
so that I can use the API end points to serve data to and from the app.

## Acceptance Criteria
### Update [Required]
- [ ] Will be mentioned in the sub-issues.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-06-21 16:20] Tharangi commented on #215
Done

[2018-06-21 17:17] devshiva619 commented on #213
Sure @BaaniLeen

[2018-06-21 18:09] BaaniLeen commented on #213
@devshiva619 According to the Systers Open Source workflow, you must ask one of the mentors, @ancyp @divyanshu-rawat @Janiceilene to assign you the issue and once assigned, you can work on the issue and submit the PR. :)
Systers OSS Worklflow : http://systers.io/open-source-workflow

[2018-06-24 06:59] devshiva619 commented on #213
@divyanshu-rawat can anyone of you please assign me this so that I can work on this issue.

[2018-06-24 16:55] ancyp commented on #217
If it is done can we close this?

[2018-06-24 17:44] ancyp commented on #213
@devshiva619 you can work on it.
@ExactlyMay I still can't find his name on assignees.

[2018-06-24 18:38] devshiva619 commented on #213
@BaaniLeen hey I am not able to find the file `app-routing.module.ts`, could you helo me find it plz

[2018-06-24 18:43] devshiva619 commented on #196
I would like to work on this.

[2018-06-24 18:55] BaaniLeen commented on #196
@devshiva619 This issue needs to be closed, since the new icons do not meet the branding guidelines of the organisations.

[2018-06-24 18:55] #196 closed

[2018-06-24 18:57] devshiva619 commented on #194
can I work on this? as it is named GSOC so asking. if I can plz do assign me this

[2018-06-24 19:06] BaaniLeen commented on #194
@devshiva619 It's an open issue because there is a PR being currently evaluated for this. Give me a couple of minutes, will surely find you a newcomers issue which can be worked upon. :)

[2018-06-24 19:12] BaaniLeen commented on #213
@devshiva619 Switch to the gsoc18-code branch, and then in the src/app folder you can find it.
https://github.com/systers/systers.github.io/blob/gsoc18-code/src/app/app-routing.module.ts
Hope that helps :)

[2018-06-24 19:15] BaaniLeen commented on #124
@Geekcoder555 No. Can you please update the description wrt the gsoc18-code branch? And then request the @systers/maintainers-gh-pages to assign you the issue if you want to work on it. :)

[2018-06-24 19:15] #200 closed

[2018-06-25 06:00] devshiva619 commented on #213
@BaaniLeen I have sent the PR for this 😃

[2018-06-26 02:19] #213 closed

[2018-06-26 19:46] BaaniLeen opened #221 "Create Newcomers Resources Page"
## Description
As a contributor,
I need create a newcomers Resources Page,
so that I can help newcomers get some good resources to get started

## Mocks
![screen shot 2018-06-27 at 1 12 23 am](https://user-images.githubusercontent.com/22029744/41935395-2eea798a-79a7-11e8-8b45-ba642933659c.png)

## Acceptance Criteria
### Update [Required]
- [ ] newcomers.component.html
- [ ] newcomers.component.ts

[2018-06-26 19:49] BaaniLeen opened #222 "Create an FAQ section"
## Description
As a contributor,
I need create an FAQ section,
so that I can answer the commonly asked doubts.

## Mocks
![screen shot 2018-06-27 at 1 18 05 am](https://user-images.githubusercontent.com/22029744/41935633-fcfb7e32-79a7-11e8-9972-90af818abdd1.png)

## Acceptance Criteria
### Update [Required]
- [ ] faq.compoent.html
- [ ] faq.component.scss
- [ ] faq.component.ts

## Definition of D

[2018-06-29 01:10] BaaniLeen opened #226 "Add a newline at the end of each file"
## Description
As a contributor,
I need add a newline at the end of each file in the gsoc18-code branch,
so that I can remove the tslint warning for the same.

## Acceptance Criteria
### Update [Required]
- [ ] All files

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-06-29 01:15] BaaniLeen opened #227 "Change all the variable names to camelCase"
## Description
As a contributor,
I need maintain a uniform standard for naming all the variables using camelCase,
so that I can ensure good code Quality.

Camel case implies that DemoTest becomes demoTest and my_class becomes myClass.

## Acceptance Criteria
### Update [Required]
- [ ] All files

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## E

[2018-06-29 01:17] BaaniLeen commented on #124
@ancyp Since there is no acknowledgement from @Geekcoder555 , shall we unassign the issue and mark it as available for others?

[2018-06-29 04:49] anumehaagrawal opened #228 "Add slack handles of contributors"
## Description
As a Systers Community member
I need to see Slack handles of project contributors
so that I can contact them to clarify any project related matters.

## Mocks

## Acceptance Criteria
### contributors.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
8 hours
@Tharangi  @kanmodi  Please assign me this issue

[2018-06-29 05:36] kanmodi commented on #228
Assigned!

[2018-06-29 07:55] Geekcoder555 commented on #124
Hey..I am now working on it..was a just busy with an internship.

On Fri 29 Jun, 2018, 6:47 AM Baani Leen Kaur, <notifications@github.com>
wrote:

[2018-06-29 16:38] #217 closed

[2018-07-01 12:29] hakabuk commented on #227
Happy to help with this one, if it's up for grabs!

[2018-07-01 15:32] BaaniLeen commented on #227
@hakabuk Sure! The issue is up for grabs! Please request the mentors to assign you the issue before you start working on it. :)

[2018-07-02 07:52] Tharangi commented on #227
@hakabuk Sure, you can work on this! This issue is assigned to you. :)

[2018-07-02 11:32] hakabuk commented on #227
As far as I can see, these changes should only apply to `.js` files, unless I'm missing something? Please verify :) Thanks!

[2018-07-02 22:15] Fenn-CS opened #230 "Add python style guide"
## Description
We need to add all our styles guides (and in this case the python style guide) to systers.io website

## Acceptance Criteria
- [x] Add style guide as much information as possible concerning systers python guidelines.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
6 hours

[2018-07-03 05:17] Tharangi opened #232 "Indicate no contributors found for a section through a message in the Contributors page"
## Description
As a Systers Community member,
I need to see a message in Contributors page if there are no contributors for a certain category for a selected project,
so that I can have a better user experience.

## Mocks
[INSERT RELEVANT PNG FILE]
![image](https://user-images.githubusercontent.com/7287218/42199873-7b80f3e4-7eae-11e8-8a8d-013789e503fd.png)

## Acceptance Criteria
### Update [Requi

[2018-07-04 09:43] shreyateeza commented on #151
@divyanshu-rawat This issue has label 'Program:GSOC'. Can I still work on this?
If not then please unassign me.

[2018-07-04 09:45] BaaniLeen commented on #151
@shreyateeza It will be worked upon during GSOC :)

[2018-07-09 05:33] shreyateeza commented on #227
@Tharangi Can I work on this issue? Please assign it to me.

[2018-07-09 05:34] shreyateeza commented on #226
@BaaniLeen Can I work on this issue?

[2018-07-09 06:03] BaaniLeen commented on #226
@shreyateeza Just a suggestion, since this is a First Timers only issue and you are already a contributor, I would suggest you to work on other bugs and features, after getting them assigned :)

[2018-07-09 06:19] shreyateeza commented on #226
Alright @BaaniLeen ! Thank you.

[2018-07-09 06:44] #209 closed

[2018-07-09 07:31] hakabuk commented on #227
Happy to be unassigned from this one

[2018-07-09 13:06] BaaniLeen opened #234 "Port the existing Program page to the new codebase"
## Description
As a contributor,
I need port the existing program page to the new codebase.
## Mocks
http://systers.io/#projects

## Acceptance Criteria
### Update [Required]
- [ ] projects.component.html
- [ ] projects.component.scss
- [ ] projects.component.ts

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
6 hours

@ancyp  @Janice

[2018-07-09 13:08] BaaniLeen opened #235 "Use the Data on the Program Page from the database"
## Description
As a contributor,
I need use the data from the Database on the Program Page.

## Acceptance Criteria
### Update [Required]
- [ ] project.component.html
- [ ] project.component.scss
- [ ] project.component.ts

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
24 hours

@ancyp @Janiceilene Can you please assign me the issue

[2018-07-09 13:11] BaaniLeen opened #236 "Add the Data About the SOCs from the JSON files to the MLab Database"
## Description
As a contributor,
I need to add the data onto the MLab database.

## Acceptance Criteria
### Update [Required]
- [ ] Database

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
6 hours

@ancyp @Janiceilene Can you please assign me the issue? :)

[2018-07-11 13:44] BaaniLeen opened #237 "Fix the UI of Contributors Page"
## Description
As a user,
I need fix the proper indentation of the contributors page UI.

## Mocks
![screen shot 2018-07-11 at 5 57 17 pm](https://user-images.githubusercontent.com/22029744/42575557-6ce2a760-853e-11e8-8a42-5e377421e410.png)

## Acceptance Criteria
### Update [Required]
- [ ] contributors.component.html
- [ ] contributors.component.scss

## Definition of Done
- [ ] All of the requi

[2018-07-12 15:55] BaaniLeen commented on #236
@Janiceilene @ancyp This has been done on mLab. :)

[2018-07-13 17:14] SubbulakshmiRS commented on #119
@ancyp unless the issue is taken , can I please be assigned to this issue ?

[2018-07-13 17:20] BaaniLeen commented on #119
@SubbulakshmiRS This issue is fixed. Feel free to take any other issue. :)

[2018-07-13 17:20] #119 closed

[2018-07-13 17:21] #192 closed

[2018-07-13 17:23] BaaniLeen commented on #93
Closing the issue since its no longer valid in the new codebase.

[2018-07-13 17:23] #93 closed

[2018-07-13 17:23] BaaniLeen commented on #115
@ancyp @Janiceilene Can we close this?

[2018-07-13 19:50] ExactlyMay commented on #227
@hakabuk Okay. I'll ask @shreyateeza to work on it instead.

There's other [available issues here](https://github.com/systers/systers.github.io/issues?q=is%3Aopen+is%3Aissue+label%3A%22Status%3A+Available%22).

[2018-07-14 05:03] BaaniLeen opened #241 "Fix UI - Newcomers Resources Modal View"
## Description
As a user,
I need fix the UI bug for the modal view,
so that I can ensure that my text does not overlap with the close button.

## Mocks
![newcomers issue modal](https://user-images.githubusercontent.com/22029744/42721078-2911184a-8751-11e8-9320-c2f0e6c6a02d.png)

## Acceptance Criteria
### Update [Required]
- [ ] newcomers.component.html
- [ ] newcomers.component.scss
- [ ] newcome

[2018-07-14 05:11] BaaniLeen opened #242 "Align the Buttons on Newcomers Resources Page"
## Description
As a user,
I need align all the buttons at the same horizontal level,
so that I can have a better UX.

## Mocks
![screen shot 2018-07-14 at 10 34 44 am](https://user-images.githubusercontent.com/22029744/42721096-8be406e4-8751-11e8-975b-38a6fa5dca94.png)

## Acceptance Criteria
### Update [Required]
- [ ] newcomers.component.html
- [ ] newcomers.component.scss
- [ ] newcomers.compon

[2018-07-14 05:13] #236 closed

[2018-07-14 05:42] #210 closed

[2018-07-14 05:42] #221 closed

[2018-07-14 05:42] #214 closed

[2018-07-14 05:45] #115 closed

[2018-07-14 05:46] #80 closed

[2018-07-14 05:47] #107 closed

[2018-07-14 05:50] #151 closed

[2018-07-14 05:52] #152 closed

[2018-07-14 05:52] #162 closed

[2018-07-14 05:52] #193 closed

[2018-07-14 05:53] #153 closed

[2018-07-14 05:54] #170 closed

[2018-07-14 05:54] #190 closed

[2018-07-14 05:54] #194 closed

[2018-07-14 05:54] #195 closed

[2018-07-14 05:54] #201 closed

[2018-07-14 05:56] #215 closed

[2018-07-14 05:57] BaaniLeen commented on #205
@Geekcoder555 Any updates?

[2018-07-14 05:59] BaaniLeen commented on #204
@Geekcoder555 Any updates? Would you like to work on it? :)

[2018-07-14 12:00] SubbulakshmiRS commented on #226
Can i be assigned to this issue ? @BaaniLeen

[2018-07-14 12:05] BaaniLeen commented on #226
Sure @SubbulakshmiRS ! :)
According to the Systers Guidelines, you should only start working on an issue after the maintainers assign the issue to you (I can't assign you the same!).
@systers/maintainers-gh-pages Can you please assign the issue to Subbulakshmi so that she can work on it? Thanks! :)

[2018-07-14 17:48] BaaniLeen commented on #241
@ancyp Can we keep this issue available for the newcomers for now?

[2018-07-14 18:36] ExactlyMay commented on #230
We're updating and moving the Documentation to [DevEnvironments Repo](https://github.com/systers/DevEnvironments) instead.

[2018-07-14 18:36] #230 closed

[2018-07-14 18:39] Janiceilene commented on #226
@SubbulakshmiRS I'll get you officially assigned as soon as @ExactlyMay gets you into the Newcomers team, but the issue is yours and you can begin working on it!

[2018-07-14 20:36] BaaniLeen commented on #235
ToDos :
1) Add description of GSOC and Outreachy Programs
2) Descending order of years for GSOC.

[2018-07-15 03:38] BaaniLeen commented on #122
@Janiceilene @ancyp Can we close this issue? Resolved in #240 .

[2018-07-15 04:46] #122 closed

[2018-07-15 04:50] aakankshadhurandhar commented on #226
@BaaniLeen can I work on this isue

[2018-07-15 04:55] BaaniLeen commented on #226
@aakankshadhurandhar This issue is being worked upon by @SubbulakshmiRS .
Let me know if you are interested to work on Issue #237 or #241 .
Else, Will try to create new newcomer issues and ping you there :)

[2018-07-15 05:07] BaaniLeen opened #243 "Add side margins to the FAQ page in sync with the header"
## Description
As a contributor,
I need ensure I have adequate margins to the left and right side,
so that I can have a better UI.

## Mocks
Current UI
![screen shot 2018-07-15 at 10 23 33 am](https://user-images.githubusercontent.com/22029744/42730741-b36adb48-8819-11e8-9bf1-179a1f6ceda9.png)
Desirable UI
![screen shot 2018-07-15 at 10 34 24 am](https://user-images.githubusercontent.com/22029744/

[2018-07-15 05:08] BaaniLeen commented on #226
Issue #243 is also a newcomer friendly issue and is available to be assigned.

[2018-07-15 14:22] aakankshadhurandhar commented on #243
@BaaniLeen i am interested to work in this issue

[2018-07-15 14:34] BaaniLeen commented on #243
Please tag the maintainers to assign you the issue using @systers/maintainers-gh-pages . Work on it only after getting the issue assigned to you. :)

[2018-07-15 16:54] ancyp commented on #243
You can work on it @aakankshadhurandhar :)

[2018-07-17 00:22] BaaniLeen opened #245 "Horizontally align the View Details buttons on Project Page cards"
## Description
As a contributor,
I need horizontally align the View Details buttons on the cards,
so that I can have a better UI experience.

## Mocks
![screen shot 2018-07-17 at 5 50 19 am](https://user-images.githubusercontent.com/22029744/42789888-6a960632-8985-11e8-8159-1b55c48bdf85.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update project.component.html and use card-footer, insi

[2018-07-17 03:23] BaaniLeen opened #246 "Update the package.json file"
## Description
As a contributor,
I need update the package.json file,
so that I can my npm packages can be installed on running the `npm install` command.

## Acceptance Criteria
### Update [Required]
- [ ] package.json

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

@ancyp @bethanyr @Janiceilene Please assign me the issue to

[2018-07-17 04:52] SubbulakshmiRS commented on #226
where is the folder for gsoc-2018 ? I was only able to find some html files in gsoc (not for 2018) or rgsoc 2018 html file .Can I please be directed to the folder ? @BaaniLeen

[2018-07-17 10:41] BaaniLeen commented on #226
Hey,
You need to contribute to the gsoc18-code branch. Feel free to ask on slack for any issues you are facing in doing the same, in the #gh-pages channel :)

[2018-07-17 15:03] kanmodi commented on #245
Assigned! :)

[2018-07-17 16:50] Janiceilene commented on #246
@ancyp Did you accidentally assign yourself to this issue?

[2018-07-17 16:51] BaaniLeen commented on #246
Closing this issue, since @bethanyr mentioned that this need not be updated. It already has mongoose, express, and body-parser packages. :)

[2018-07-17 16:51] #246 closed

[2018-07-17 16:51] Janiceilene commented on #246
... Then I accidentally closed it. Whoops!

[2018-07-17 16:52] BaaniLeen commented on #245
Thanks @kanmodi :)

[2018-07-17 16:52] BaaniLeen commented on #246
@ancy @Janiceilene It can be closed, right? Or shall I reopen it again?

[2018-07-17 16:53] #242 closed

[2018-07-17 17:02] Janiceilene commented on #246
@baani You can close it if you don't need it! I just accidentally closed it when I tried to comment to Ancy, then reopened. It would be nice if you could link to where you and Bethany had the conversation (just in case anyone is interested later).

[2018-07-17 19:06] BaaniLeen opened #247 "Refactor the navbar"
## Description
As a contributor,
I need to refactor the navbar menu.

## Acceptance Criteria
### Update [Required]
- [ ] navbar.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

@ancyp @bethanyr @ExactlyMay Can I work on this?

[2018-07-17 19:09] ancyp commented on #246
This is weird, I tried to assign to @BaaniLeen

[2018-07-19 04:20] pprathameshmore commented on #241
@BaaniLeen May I work on this issue?

[2018-07-19 04:37] ancyp commented on #241
You can consider it assigned @pprathameshmore :)

[2018-07-19 04:54] BaaniLeen opened #251 "Bug - Cannot go back to Home Page after going to a different Tab"
## Description
As a contributor,
I need to fix the bug,
for a better UX.

## Mocks
https://user-images.githubusercontent.com/7522358/42922216-8b95ebcc-8ad4-11e8-9845-a5f257b6d236.png

## Acceptance Criteria
### Update [Required]
- [ ] app-routing.module.ts

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-07-19 14:58] pprathameshmore commented on #241
@BaaniLeen In which branch I should I work?

[2018-07-20 03:01] BaaniLeen commented on #241
@pprathameshmore Please work on the gsoc18-code branch :)

[2018-07-20 18:31] pprathameshmore commented on #241
@BaaniLeen I busy right now in college's exam! I will push pull request on Sunday!

[2018-07-22 05:50] BaaniLeen commented on #251
@ancyp @Janiceilene @bethanyr Can you please assign me the issue to work upon? :)

[2018-07-23 09:32] BaaniLeen opened #252 "Develop the Newcomers Page First Timers Issue section"
## Description
As a contributor,
I need create a section on the newcomers page for first timer issues.

## Acceptance Criteria
### Update [Required]
- [ ] newcomers.component.html
- [ ] newcomers.component.ts
- [ ] newcomers.component.scss

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
24 hours

@ancyp @Janiceilene @bethanyr Can you

[2018-07-23 11:36] Geekcoder555 commented on #204
@BaaniLeen, firsrly, due to my other commitments I wasn't able to respond and ya I will the update the description and also would like to work on the issue

[2018-07-23 11:37] Geekcoder555 commented on #204
@ancyp, I would like to work on this issue

[2018-07-24 04:50] BaaniLeen opened #254 "Remove the map in the newcomer section"
## Description
As a contributor,
I need remove the map in the newcomers section,
to remove redundancy.

## Acceptance Criteria
### Update [Required]
- [ ] newcomer.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hour

[2018-07-24 04:53] #226 closed

[2018-07-24 04:54] BaaniLeen commented on #241
@ancyp Can you please assign it to me?

[2018-07-24 04:55] BaaniLeen commented on #243
@ancyp Can you assign me this issue?

[2018-07-24 04:55] #245 closed

[2018-07-24 04:55] #247 closed

[2018-07-24 08:37] BaaniLeen opened #256 "Add panes for OSS workflow , non coders, etc on the Newcomers Page"
## Description
As a contributor,
I need panes for OSS workflow , non coders, etc on the Newcomers Page,
so that I can have easy navigation.

## Acceptance Criteria
### Update [Required]
- [ ] newcomers.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

@ancyp @Janiceilene @bethanyr Can you please assign me the iss

[2018-07-24 08:39] BaaniLeen opened #257 "Resolve inconsistencies in Cards, Modals on the website"
## Description
As a contributor,
I need have consistency in the design for all cards and modals for the wesbite,
so that I can have better UX.

## Acceptance Criteria
### Update [Required]
- [ ] newcomers.component.html
- [ ] newcomers.component.scss
- [ ] projects.component.html
- [ ] projects.component.scss

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1

[2018-07-25 11:49] #251 closed

[2018-07-25 18:09] swaybs commented on #243
May I be assigned to this request?

[2018-07-25 22:23] Janiceilene commented on #243
@BaaniLeen You're currently assigned to this issue. Do you want it to be reassigned?

[2018-07-26 00:15] BaaniLeen commented on #243
@Janiceilene I have created PR #260 to solve it already. @swaybs Can you please look at the other newcomer issues? Thanks! :)

[2018-07-27 14:40] #254 closed

[2018-07-27 17:21] #257 closed

[2018-07-27 17:22] #243 closed

[2018-07-28 00:36] BaaniLeen commented on #235
Both the ToDos have been accomplished, thus closing it :)

[2018-07-28 00:36] #235 closed

[2018-07-28 00:36] #232 closed

[2018-07-28 00:36] #228 closed

[2018-07-28 00:37] #218 closed

[2018-07-30 17:56] ExactlyMay opened #266 "UI Update/CleanUp for GSoC18"
## Description
As a developer,
I need to complete the branding of the app,
so that I can push a final product to production.

## Mocks
![0001](https://user-images.githubusercontent.com/2440938/43679434-3db49e54-97f3-11e8-801c-f2bc8de93abc.jpg)
-
![0006](https://user-images.githubusercontent.com/2440938/43679439-3df0a67e-97f3-11e8-990a-9935f5124e7a.jpg)
-
![0003](https://user-images.githubuserconte

[2018-08-01 15:54] BaaniLeen opened #267 "Deployment on Heroku"
## Description
As a contributor,
I need deploy the systers.io app on Heroku

## Acceptance Criteria
### Update [Required]
- [ ] A link with NodeJS app deployed

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
20 hours

@Janiceilene @bethanyr @ancyp @Rupinderwadali Can you please assign me the issue?

[2018-08-01 16:46] BaaniLeen opened #269 "Remove hardcoding from the Heroku URL for the API calls"
## Description
As a contributor,
I need remove the hardcoding from the Heroku URLs especially in the API calls.

## Acceptance Criteria
### Update [Required]
- [ ] common.service.ts

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-08-03 03:06] #267 closed

[2018-08-03 15:52] #252 closed

[2018-08-03 16:00] BaaniLeen commented on #227
@shreyateeza Any updates?

[2018-08-03 16:04] shreyateeza commented on #227
@BaaniLeen Excuse me for not informing. I am not working on this. Please unassign me from this issue.

[2018-08-04 17:11] BaaniLeen opened #270 "Refactor the Navbar"
## Description
As a contributor,
I need have the order of the tabs in navbar such that projects and Programs are together; Also, the Newcomers tabs on getting highlighted stays so like other tabs.

## Acceptance Criteria
### Update [Required]
- [ ] navbar.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

@ancyp

[2018-08-04 17:11] #256 closed

[2018-08-04 17:13] BaaniLeen commented on #237
@ancyp @bethanyr @Janiceilene Can you please assign me the issue to work upon? :)

[2018-08-04 17:18] BaaniLeen opened #271 "Fix the UI of the newcomers page on deployment"
## Description
As a contributor,
I need fix the UI of the newcomers page on deployment (the cards are piling one horizontally instead of vertically).

## Mocks
Current Page:
![screen shot 2018-08-04 at 10 46 21 pm](https://user-images.githubusercontent.com/22029744/43678860-54001338-9838-11e8-9bae-b1cba11e621d.png)

## Acceptance Criteria
### Update [Required]
- [ ] newcomers.component.html

## De

[2018-08-04 17:22] BaaniLeen opened #272 "Make the footer visible on all pages"
## Description
As a contributor,
I need make the footer visible on all pages.

## Acceptance Criteria
### Update [Required]
- [ ] app.component.html
Uncomment the <app-footer></app-footer> line

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
15 min

@ancyp @Janiceilene @bethanyr Can I please work on this issue?

[2018-08-04 17:30] BaaniLeen opened #273 "Insert semi colons between the mentor data for all the GSOC years (instead of a <br>)"
## Description
As a contributor,
I need to replace the \n with a semicolon for all the mentor data,
so that I can consistency in the view.

## Acceptance Criteria
### Update [Required]
- [ ] program.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

@bethanyr @ancyp @Janiceilene Can you please assign me the issue

[2018-08-04 17:34] BaaniLeen opened #274 "Heroku App shows error"
## Description
As a contributor,
I need to ensure my Heroku app does not crash, on refreshing on any particular tab(routes).
Eg: The app crashes on opening https://systers-github-io.herokuapp.com/programs, while it works fine if I refresh the main page and then navigate to programs.

## Acceptance Criteria
### Update [Required]
- [ ] Will update after solving the issue

## Definition of Done
- [ ]

[2018-08-08 01:22] #272 closed, assigned to BaaniLeen

[2018-08-08 13:32] bethanyr opened #283 "Use Travis CI to run tests and deploy apps"
## Description
As a Developer on this project,
I need to have CI implemented to help with quality,
so that I can have tests automatically run and the master branch automatically deployed.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Integration with Travis CI is successful
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required

[2018-08-08 13:40] bethanyr opened #284 "Write Angular tests for the new changes."
## Description
As a developer,
I need to ensure that new changes do not break existing functionality,
so that I can confidently add new features.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] unit tests that are in a pending state are fixed so that they pass. (run ng test)
- [ ] E2E tests that are in a pending state are fixed so that they pass. (run ng e2e)
### Enhancement to Updat

[2018-08-11 02:46] #274 closed

[2018-08-11 02:46] #273 closed

[2018-08-11 02:47] #207 closed

[2018-08-11 02:47] #237 closed

[2018-08-11 03:20] BaaniLeen opened #285 "Update the Navbar and Footer"
## Description
As a contributor,
I need to update the navbar and footer,
so that I can keep it consistent with the wireframes and the Communities website.

## Acceptance Criteria
### Update [Required]
- [ ] navbar.component.html
- [ ] footer.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.25 (for navbar)+ 1 hour for

[2018-08-11 04:03] BaaniLeen opened #286 "Update the Favicons and the Titles of the App"
## Description
As a contributor,
I need update the favicons and the titles of the app.

## Acceptance Criteria
### Update [Required]
- [ ] Add the favicon
- [ ] Update the Title of the app

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
10 minutes + 20 minutes

@Janiceilene @ancyp Can you please assign me the issue to work upon?

[2018-08-11 04:05] BaaniLeen opened #287 "Fix the Newcomers Issues UI"
## Description
As a contributor,
I need fix the UI bug in the Newcomers Issue section.

## Mocks
![screen shot 2018-08-11 at 8 02 28 am](https://user-images.githubusercontent.com/22029744/43988015-bce05fc8-9d49-11e8-8605-dbbdc2bf3f0e.png)

## Acceptance Criteria
### Update [Required]
- [ ] newcomers.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval

[2018-08-11 04:11] BaaniLeen opened #288 "Update the links"
## Description
As a contributor,
I need update the links in the newcomers resources section, as well as make the text on top of the slider images as blank.

## Acceptance Criteria
### Update [Required]
- [ ] Update the links in the newcomers resources section
- [ ] Make the text on top of the slider images as blank

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approva

[2018-08-11 04:20] BaaniLeen opened #289 "Center align text on home page"
## Description
As a contributor,
I need to center align the text on the home page,
so that I can have better UX.

## Acceptance Criteria
### Update [Required]
- [ ] home.components.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hours

@Janiceilene @ancyp Can you please assign me the issue to work upon? Thanks! :)

[2018-08-12 13:11] #289 closed

[2018-08-12 13:12] #287 closed

[2018-08-14 00:41] BaaniLeen opened #293 "Merge GSOC18 code to the master branch"
## Description
As a contributor,
I need to push the GSOC18 code to the master branch.

## Acceptance Criteria
### Update [Required]
- [ ] Push the code to the master branch

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

@ancyp @bethanyr @Janiceilene Can you please assign me the issue?

[2018-08-14 01:39] BaaniLeen opened #295 "Update TravisCI to deploy from the master branch"
## Description
As a contributor,
I need to Update TravisCI to deploy from the master branch once the code is merged into the master branch.

## Acceptance Criteria
### Update [Required]
- [ ] .travis.yml

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.75 hour = 0.5 hours + 0.25 to create a PR

@bethanyr @ancyp Can I please work on

[2018-08-14 14:32] aganjali10 commented on #227
@BaaniLeen I am a beginner and this is my first time I am trying open source. I am not able to find the variable that needs to be camelcased as all files are either html or css. Can you please help me out.

[2018-08-15 02:07] BaaniLeen commented on #295
Solved using PR#294

[2018-08-15 02:07] #295 closed

[2018-08-15 02:07] #283 closed

[2018-08-15 02:09] #293 closed

[2018-08-15 02:13] BaaniLeen opened #297 "Update the README file"
## Description
As a contributor,
I need to update the README file.

## Acceptance Criteria
### Update [Required]
- [ ] README.md

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

@bethanyr @ancyp @Janiceilene Can you please assign me the issue? Thanks :)

[2018-08-17 03:21] #285 closed, assigned to BaaniLeen

[2018-08-17 03:59] BaaniLeen commented on #204
@ancyp @bethanyr @Janiceilene Shall I take up this issue since it has been inactive for quite some time?

[2018-08-17 05:25] BaaniLeen commented on #227
@aganjali10 Sure! Since all of the code to be worked upon is in the gsoc18-code branch, after you switch there, you can find especially in the Typescript files, the variables defined without camelCase.
eg. in the src/app/newcomers/ folder, in the newcomers.component.ts file, you can see as below:

![screen shot 2018-08-17 at 10 49 08 am](https://user-images.githubusercontent.com/22029744/44249010-

[2018-08-17 05:26] BaaniLeen commented on #227
@aganjali10 Also, before working on an issue make sure you get it assigned to you from the maintainers @systers/maintainers-gh-pages

[2018-08-17 15:03] Janiceilene commented on #227
@aganjali10 As soon as you accept the membership invitation to the GH Pages Newcomers team, you can be assigned to this issue.

[2018-08-21 09:49] daminisatya commented on #297
@bethanyr I think this issue is good to close?

[2018-08-21 09:50] daminisatya commented on #286
@Janiceilene I think this issue is good to close?

[2018-08-21 10:11] daminisatya commented on #288
@Janiceilene I think the links are still broken. For some reason, systers.io is not available. Is it a good idea to change back to systers.github.io? I sent a quick PR.

Even the main org details over here need an update?

<img width="1019" alt="screen shot 1940-05-30 at 3 28 09 pm" src="https://user-images.githubusercontent.com/6227784/44395804-a0e70580-a558-11e8-948d-c5f315049355.png">

[2018-08-21 10:35] BaaniLeen commented on #288
@daminisatya I created this issue to fix the links which are given on the Newcomers Resources Page on the new Heroku App, i.e. the code on the gsoc18-code branch of the app. The same was fixed through PR #300 .
Can we create a separate issue for the change you are suggesting? @Janiceilene

[2018-08-21 10:36] BaaniLeen commented on #297
@daminisatya Done :)

[2018-08-21 10:36] #297 closed

[2018-08-21 10:36] BaaniLeen commented on #286
@daminisatya Done! :)

[2018-08-21 10:36] #286 closed

[2018-08-25 15:44] ananyaarun commented on #38
Can i be assigned this issue ?

[2018-08-25 15:58] BaaniLeen commented on #38
@ananyaarun Please request the maintainer by using @systers/maintainers-gh-pages to get the issue assigned. :)

[2018-08-25 15:59] #288 closed

[2018-08-25 16:01] #266 closed

[2018-08-25 19:11] provanni commented on #227
@BaaniLeen If this is still unassigned I would love to do this!

[2018-08-26 01:27] Supreme-Kai commented on #227
Hey there! I'd be happy to work on this if it's still up for grabs :)

[2018-08-26 01:46] Supreme-Kai commented on #57
Hi :) Is this still open? If so I can work on it.

[2018-09-19 16:11] vatsalanarang commented on #227
@BaaniLeen @Janiceilene I want to work with this issue. Please assign it to me if no one is working on it.

[2018-09-28 20:06] sarnava1 opened #304 "Live Heroku app not working"
## Description
As a USER,
I need to visit the live heroku app,
so that I can look into the hosted website.

## Mocks
The link https://systers-github-io.herokuapp.com/ provided is now giving application error.

![githubpagesnotworking](https://user-images.githubusercontent.com/25319565/46230989-ee406900-c387-11e8-8838-1ff77bea49ff.png)

## Acceptance Criteria
Please remove the application error so

[2018-09-28 20:11] sarnava1 commented on #304
@bethanyr I created this is issue because the heroku link was not working.

[2018-10-03 10:49] sebastiaanspeck commented on #227
If there is still work to do, I am willing to pick this up

[2018-10-05 10:06] Anam9 commented on #227
Hi! Is this still up for grabs? Willing to work on this :)

[2018-10-10 16:36] Tharangi commented on #38
@ananyaarun are you still interested to work on this?

[2018-10-16 01:14] BaaniLeen commented on #227
@Supreme-Kai Would you want to work on this?

[2018-10-16 03:54] f2015537 commented on #269
@Tharangi is this still available?

[2018-10-16 20:28] sarnava1 commented on #124
@BaaniLeen I am claiming this. Please assign me this issue.

[2018-10-16 20:29] sarnava1 commented on #204
@BaaniLeen please assign me this issue.

[2018-10-24 02:31] tiffany-jao commented on #284
Hoping to claim this issue, if it is still available. Thanks! :)

[2018-10-26 02:02] bethanyr commented on #284
Hi @tiffany-jao - yes - you can work on this issue. I'll assign it to you.

[2018-10-26 02:03] bethanyr commented on #269
@f2015537 - are you interested in working on this issue?

[2018-10-26 02:05] bethanyr commented on #205
since we updated how the systers.io website is rendered by switching to an Angular app - I'm not sure this issue is still needed at this time. I am going to close it - we can reopen if it's needed.

[2018-10-26 02:05] #205 closed

[2018-10-26 02:08] bethanyr commented on #97
After the changes to angular for systers.io - I don't think this issue is needed. I'm going to close this issue.

[2018-10-26 02:08] #97 closed

[2018-10-26 02:10] bethanyr commented on #57
closing this issue since it applied to the old systers.io site.

[2018-10-26 02:10] #57 closed

[2018-10-26 02:11] bethanyr commented on #38
this issue applied to the old systers.io site and is no longer needed, so I am closing this issue.

[2018-10-26 02:11] #38 closed

[2018-10-26 04:30] sarnava1 commented on #38
@bethanyr okay.

[2018-10-26 19:40] f2015537 commented on #269
Sorry I just couldn't resist myself :P

[2018-10-27 04:24] f2015537 opened #307 "Update server.js to ES6 syntax."
## Description
As a developer,
I need update my code,
so that I can make use of latest JavaScript features like promises, chaining and async await .

## Acceptance Criteria
### Update [Required]
- [ ] server.js

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-10-27 04:30] f2015537 opened #308 "Backend code needs refactoring"
## Description
As a developer,
I need keep different logical parts of my code separate,
so that the code is more readable, manageable and reusable.

## Acceptance Criteria
### Update [Required]
- [ ]  Separate folder to deal with mongoose scehmas.
- [ ] Separate folder to deal with http endpoints.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

##

[2018-10-27 04:34] f2015537 opened #309 "Adding concurrently as a Dev dependancy"
## Description
As a developer,
I need to be able to run the sever and client code using a single command,
for more convenience.

## Acceptance Criteria
### Update [Required]
- [ ]  package.json
### Enhancement to Update [Optional]
- [ ] It would be great if the documentation could include this new feature

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 men

[2018-10-28 08:16] anumehaagrawal commented on #307
@f2015537  Assigned to you !

[2018-10-28 12:50] f2015537 commented on #307
@anumehaagrawal this might take some time because it's a difficult issue. Let us make this issue available for other contributors as well. If I come up with a solution I'll ask you to re-assign it to me.

[2018-10-28 13:14] f2015537 commented on #307
The nodejs team is still working hard to enable the latest ECMAScript features and are having some problems. This is still an **experimental feature** and can be enabled on **nodejs version 11.0** which is the latest version but **not the LTS version**. Since this codebase does not run on the latest nodejs engine **this issue cannot be solved as of now**.

[More on this topic can be read here](htt

[2018-10-28 16:46] f2015537 commented on #309
@anumehaagrawal @BaaniLeen @bethanyr @Tharangi claim!

[2018-10-28 16:52] #307 closed

[2018-10-29 02:18] BaaniLeen commented on #309
Done!

[2018-10-29 05:52] f2015537 commented on #284
Hey @tiffany-jao any progress?

[2018-10-30 03:07] tiffany-jao commented on #284
@bethanyr  sound good. thanks!
@f2015537 I fixed most of the tests - still trying to fix the e2e test and two other tests. (two tests in app.component.spec seem obsolete. may either rewrite or delete them.)

[2018-10-30 19:33] f2015537 opened #312 "mongoose promise rejections are unhandled"
## Description
As a developer,
I need ensure that all promise rejections are handled,
so that I can predict the behaviour of my app.

## Mocks
![screenshot from 2018-10-31 01-01-47](https://user-images.githubusercontent.com/19348263/47744979-9c517280-dca8-11e8-915e-947c33ac7891.png)

## Acceptance Criteria
### Update [Required]
- [ ] server.js

## Definition of Done
- [ ] All of the required items

[2018-10-30 19:39] f2015537 opened #313 "Clicking on github username does not redirect to the github profile"
## Description
As a user,
I need be able to check the profile of the person who raised an issue or started a PR.

## Mocks

#### Before clicking
![screenshot from 2018-10-31 01-07-44](https://user-images.githubusercontent.com/19348263/47745331-6b257200-dca9-11e8-898a-819887283847.png)

#### After clicking(the entire template just becomes blank)
![screenshot from 2018-10-31 01-08-38](https://user-i

[2018-10-30 19:47] f2015537 opened #314 "Admins, maintainers, commiters and improvers are harcoded."
## Description
As a user,
I need to be able to see the Admins, maintainers, commiters and improvers  in real time.

## Mocks
![screenshot from 2018-10-31 01-15-10](https://user-images.githubusercontent.com/19348263/47745828-9361a080-dcaa-11e8-9371-9b5a800e4a3a.png)
![screenshot from 2018-10-31 01-15-22](https://user-images.githubusercontent.com/19348263/47745830-93fa3700-dcaa-11e8-9a2a-8f23dea080e

[2018-10-30 19:52] f2015537 opened #315 "PC-Prep Kit is missing from the web-dev javascript tab"
## Description
As a user,
I need to be able to see all the current projects of the organisation.

## Acceptance Criteria
### Update [Required]
- [ ] newcomers.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-10-30 19:59] f2015537 opened #316 "No way to differentiate between PRs and Issues in the first-timers-only section of the newcomers tab."
## Description
As a user,
I need be able to differentiate between PRs and issues.

## Mocks
[INSERT RELEVANT PNG FILE]
![screenshot from 2018-10-31 01-26-31](https://user-images.githubusercontent.com/19348263/47746439-0f101d00-dcac-11e8-97f1-69f0d531f862.png)
#### This image has a mix of PRs and issues both but there is no way to differentiate between them. Some sort of styling can be added to dif

[2018-10-31 08:42] f2015537 opened #318 "Adding nodemon as a Dev Dependancy"
## Description
As a developer,
I need to be able to see the effect my code has on the website,
without having to start to server over and over.

## Acceptance Criteria
### Update [Required]
- [ ] package.json
- [ ] README.md

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hours

[2018-10-31 08:47] f2015537 opened #319 "No linting rules on the server side"
## Description
As a developer,
I need to add linting rules,
so that the code-base is more readable and maintainable.

## Acceptance Criteria
### Update [Required]
- [ ] Adding ESLint as a dev-dependency.
- [ ] Setting up the configuration for ESLint.
- [ ] Linting all the javascript files based on the above configuration.

## Definition of Done
- [ ] All of the required items are completed.
- [ ]

[2018-11-03 09:30] f2015537 opened #321 "Backend Testing Needed"
## Description
As a developer,
I need to write tests for automated testing purposes,
so that I can test the app before deploying it .

## Acceptance Criteria
### Update [Required]
- Test all the routes in the backend using a library like mocha

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-11-05 08:56] f2015537 commented on #312
Maintainers, I am claiming this one!

[2018-11-05 09:52] f2015537 opened #322 "api/deleteUser route is not working"
## Description
As a developer,
I need ensure that all my api routes are working,
so that I can manage my database.

## Acceptance Criteria
### Update [Required]
- [ ] sever.js

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-11-05 10:06] f2015537 commented on #322
my bad

[2018-11-05 10:06] #322 closed

[2018-11-05 11:35] f2015537 commented on #315
Maintainers, I am claiming this one!

[2018-11-06 21:29] f2015537 commented on #321
Maintainers, I am claiming this one!

[2018-11-13 02:26] #269 closed

[2018-11-13 02:34] BaaniLeen commented on #321
@f2015537 Assigned!

[2018-11-13 02:39] BaaniLeen commented on #316
@f2015537 Do you want to work on the issue? If yes, how do you plan to solve the same?
Currently this is upstream repo, whose API we are using: https://github.com/publiclab/community-toolbox. You may consider creating an issue in the same, so that they incorporate it in their API. :)

[2018-11-15 13:58] #284 closed

[2018-11-15 14:09] #309 closed

[2018-11-16 14:47] f2015537 commented on #316
@BaaniLeen I'm sorry I was not aware that the feature is not available in the used API. I will create an issue in their repo. Can we consider shifting to Github's API instead. It will help in other areas of the website as well..like getting organization members, maintainers,admins etc. We could then add our own CSS styles to make the UI look good.

[2018-11-16 15:10] f2015537 commented on #319
@BaaniLeen I was kind of confused because Codacy was throwing linting errors on my pull requests and the codes on those errors had ESLint rule names on them. This was happening for the server side code only. So my guess is that the TSLint rules are being enforced on the client side code only (written in typescript) and not on the server side files written in Javascript.

[2018-11-16 15:12] f2015537 commented on #319
@BaaniLeen do you agree with this ^? If yes, I can start working in either of these 2 directions:-
1) Enforcing TSLint rules on the server side.
2) Adding ESLint on the server side and enforcing ESLint rules on the server side.
It is your call. I'm fine working on either solution.

[2018-11-16 15:14] f2015537 commented on #319
![screenshot 4](https://user-images.githubusercontent.com/19348263/48629651-37a05280-e9e0-11e8-9120-24abcf299fc3.png)

[2018-11-16 15:19] f2015537 commented on #319
I think codacy bot for this project has not been configured to work with TSLint hence it is throwing ESlint Errors. **This issue is high priority because it will hinder pull requests made for the server side code.**

[2018-11-16 15:32] f2015537 commented on #319
@BaaniLeen sorry I was kind of confused because Codacy was throwing linting errors on my pull requests and those errors got fixed when I included a .eslintrc.json file with the rules that were being violated. My guess is that Codacy Bot has been configured to work with ESLint instead of TSLint for this project. I hope I'm making sense.

[2018-11-19 05:50] bhawesh96 opened #324 "Delete un-required file"
## Description
As a developer,
I don't need [this un-required file](https://github.com/systers/systers.github.io/blob/develop/%7B%7D)

## Acceptance Criteria
### Update [Required]
- [ ] Delete https://github.com/systers/systers.github.io/blob/develop/%7B%7D

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.1 hours

[2018-12-04 10:10] rossoskull opened #325 "Update README.md"
## Description
The "documentation" link isn't bold because a space isn't entered in between

## Mocks
![screenshot from 2018-12-04 15-37-57](https://user-images.githubusercontent.com/27884543/49434717-cf70af80-f7da-11e8-96ae-b363c50f2b45.png)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-12-07 09:44] isunitha98selvan commented on #324
I would like to take this up.

[2018-12-07 20:16] sarnava1 opened #329 "Delete more unused and unrequired files"
## Description
As a USER,
I need to delete unrequired and unused files.

## Mocks
The app.component.scss file is empty and hence is not required.

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
0.1 hours

[2018-12-07 20:22] anumehaagrawal commented on #329
The {} file has been removed in a previous PR right ?

[2018-12-07 20:42] sarnava1 opened #330 "Add vscode to gitignore file"
## Description
As a USER,
I need to add .vscode to gitignore file.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
0.1 hours

[2018-12-07 20:56] sarnava1 commented on #329
Sorry @anumehaagrawal I did not notice that. Actually I messed up things in my terminal and forced pushed things which closed my previous PR too. Trying to make things okay again.

[2018-12-07 21:41] sarnava1 commented on #329
@anumehaagrawal I have changed the PR description accordingly

[2018-12-07 22:03] sarnava1 commented on #329
@anumehaagrawal Travis is not passing when I opened the PR. I guess that file needs to be there even if there is no code in it otherwise travis will fail saying that it is unable to find the module. So I am closing this issue.

[2018-12-07 22:03] #329 closed

[2018-12-11 07:31] #325 closed

[2018-12-11 12:04] #324 closed

[2018-12-14 04:07] #124 closed

[2018-12-14 04:10] #330 closed

[2018-12-14 04:11] BaaniLeen commented on #313
Assigned! :)

[2018-12-14 04:15] BaaniLeen commented on #314
@f2015537 How do you plan to approach solving the issue?

[2018-12-14 07:14] anumehaagrawal commented on #321
@f2015537  Are you working on this ?

[2018-12-15 21:02] DivyeshPuri opened #334 "Aligning Column with the logo"
## Description
As a developer,
I need to align the two columns,
so that they look better.

## Mocks
Current State
![systers](https://user-images.githubusercontent.com/23422478/50047428-c2a56300-00da-11e9-8a06-16cd5aa639cf.PNG)

## Acceptance Criteria
### Update [Required]
- [ ] Alignment is done properly and not losing responsiveness of page.

## Definition of Done
- [ ] All of the required items

[2018-12-15 21:03] DivyeshPuri commented on #334
@BaaniLeen I would like to work on it. Please assign me

[2018-12-15 21:10] DivyeshPuri opened #335 "Github and Medium icons redirect to twitter's account."
## Description
As a developer,
I need to replace the links of Github and Medium with correct links,
so that it redirects users to correct page.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] footer.component.html

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-12-15 21:11] DivyeshPuri commented on #335
@BaaniLeen I would like to work on this. Please assign me.

[2018-12-15 21:13] kanmodi commented on #335
@DivyeshPuri assigned!

[2018-12-15 21:14] kanmodi commented on #334
@DivyeshPuri assigned! :)

[2018-12-15 21:19] DivyeshPuri commented on #334
@kanmodi Thank You 😃

[2018-12-15 21:40] DivyeshPuri opened #338 "Setting Cursor of pointer type."
## Description
As a developer,
I need set cursor type to pointer,
so that it gives users a hint about card expandable or link nature.

## Mocks
![systers](https://user-images.githubusercontent.com/23422478/50047659-fcc53380-00df-11e9-8f5d-0145ea36fac6.PNG)

## Acceptance Criteria
### Update [Required]
- [ ] Cursor should be Pointer type.

## Definition of Done
- [ ] All of the required items are c

[2018-12-15 21:40] DivyeshPuri commented on #338
@BaaniLeen @kanmodi I would like to work on this. Please assign me.

[2018-12-15 21:50] DivyeshPuri opened #339 "Repetitive Images in Carousel"
## Description
As a developer,
I need to remove the repetitive images,
so that either we can add a new image in replace of these images or to reduce the number of requests
.

## Mocks
![systers](https://user-images.githubusercontent.com/23422478/50047730-64c84980-00e1-11e9-8648-657ac912936d.PNG)

## Acceptance Criteria
### Update [Required]
- [ ] Remove the repetitive images.

## Definition of Don

[2018-12-15 21:51] DivyeshPuri commented on #339
@kanmodi @BaaniLeen I would like to work on this. Please assign me

[2018-12-16 06:56] anumehaagrawal commented on #339
Assigned

[2018-12-16 06:56] anumehaagrawal commented on #338
Assigned !

[2018-12-16 11:11] DivyeshPuri commented on #338
@anumehaagrawal Thanks 😄

[2018-12-18 09:34] littleBuddhaa opened #342 "FAQ - highlight on hover and cursor to pointer"
## Description
As a developer,
I need to set cursor to pointer and add effect on hovering,
so the user can know its clickable.

## Mocks
![screenshot from 2018-12-18 14-57-34](https://user-images.githubusercontent.com/36421943/50144746-ee406d00-02d5-11e9-8360-32630dead612.png)

## Acceptance Criteria
### Update [Required]
- [x] [cursor to pointer]
- [x] [highlight on hover ]

## Definition of Done

[2018-12-18 09:35] littleBuddhaa commented on #342
@BaaniLeen @anumehaagrawal  I would like to do this please

[2018-12-18 09:45] littleBuddhaa opened #343 "providing link to contributors thumbnail and not just their name"
## Description
As a developer,
I need make the entire image/thumbnail of the contributor as a link,
so that the user can know immediately more info about the contributors is provided.

## Mocks
![screenshot from 2018-12-18 15-08-13](https://user-images.githubusercontent.com/36421943/50145397-7d9a5000-02d7-11e9-8879-e53b92aa8365.png)
as of now, only the names are clickable

## Acceptance Criteria
#

[2018-12-18 09:47] littleBuddhaa commented on #343
@BaaniLeen @anumehaagrawal  I would like to do this please

[2018-12-18 09:49] littleBuddhaa commented on #342
@BaaniLeen @anumehaagrawal  I'd like to do this.

[2018-12-18 09:59] littleBuddhaa opened #344 "Correction of links in footer"
## Description
As a developer,
I need put correct links in the footer section (github , medium icons are also linked to Syster's twitter page),
so that the users can go to the correct links.

## Mocks
![screenshot from 2018-12-18 15-24-03](https://user-images.githubusercontent.com/36421943/50146327-82f89a00-02d9-11e9-9eb4-6451f9a9a1c0.png)

## Acceptance Criteria
### Update [Required]
- [ ] Github

[2018-12-18 10:19] littleBuddhaa commented on #344
@anumehaagrawal  @BaaniLeen Please assign the issue to me

[2018-12-18 15:45] #344 closed

[2018-12-18 16:11] littleBuddhaa opened #346 "Past three year's projects in Gsoc section are not shown"
## Description
As a developer,
I need make sure the past year 3 years Gsoc projects are visible,
so that users can get the correct information.

## Mocks
![screenshot from 2018-12-18 21-35-09](https://user-images.githubusercontent.com/36421943/50166549-52325800-030d-11e9-8a31-c32685d825e2.png)

## Acceptance Criteria
### Update [Required]
- [ ] Projects of 2015 visible
- [ ] Projects of 2016 visib

[2018-12-19 20:38] Akshay1910 commented on #227
can i help you??

[2018-12-20 11:39] littleBuddhaa commented on #346
@BaaniLeen @anumehaagrawal  this section requests data from the systers heroku app , which currently is not working.

[2018-12-21 08:01] littleBuddhaa commented on #316
@f2015537 Are you still working on github's api ?

[2018-12-21 17:53] littleBuddhaa opened #349 "links to first-timers-only-issues in Newcomers are not reachable"
## Description
As a user,
I should be able to go to the links of issues or usernames provided in newcomer section,
so that I can make use of the information listed.

## Mocks
![screenshot from 2018-12-21 00-30-00](https://user-images.githubusercontent.com/36421943/50356181-17cbf380-0577-11e9-8a78-f1617a9f8ddd.png)
the iframe on clicking any link goes blank

## Acceptance Criteria
### Update [Requi

[2018-12-21 18:02] littleBuddhaa commented on #349
@BaaniLeen there have been some issues in rendering the iframe because of Content Security Policy. I dont know how flexible the API that is being used currently is, but there are APIs provided by github too which I think can resolve this. **With help of this there will be a list of links of issues provided and not** **iframes**. I think this would also resolve issue #316 .
If you are fine with thi

[2018-12-24 08:43] littleBuddhaa commented on #349
@BaaniLeen  there are some issues rendering the first timer issue. On clicking any of the issue the iframe goes blank. I suggest we use github's api instead of the one we are using right now. And in place of the iframe we could provide links to the issue, issue number, and user who posted it and repo url.
This will solve issues #316 #349 #313.
If that would be fine please assign this task to me.

[2018-12-30 21:52] #308 closed

[2018-12-30 21:53] #335 closed

[2018-12-30 21:58] #339 closed

[2019-01-01 00:30] ancyp commented on #227
@vatsalanarang you seem to be the next in line. Do you want to work on it?

[2019-01-01 00:39] #342 closed

[2019-01-01 00:41] #349 closed

[2019-01-01 04:30] f2015537 commented on #318
@BaaniLeen I'm working on this!
Will send a PR by tonight.

[2019-01-01 04:32] f2015537 commented on #319
@BaaniLeen sure! I'll work on option 2. You can expect a PR by tonight.

[2019-01-01 04:35] f2015537 commented on #321
Yes @anumehaagrawal. I'm working on this.

[2019-01-01 04:53] f2015537 commented on #313
Closing this issue now! Refer https://github.com/systers/systers.github.io/pull/350

[2019-01-01 04:53] #313 closed

[2019-01-01 04:57] f2015537 commented on #314
@BaaniLeen I was thinking that we can fetch information about the repo in real time using Github's API. Hardcoded entries will very difficult to maintain as the project scales in my opinion. We need an Angular ninja for this. @sarnava1 @littleBuddhaa you up for this?

[2019-01-01 07:13] littleBuddhaa commented on #346
@BaaniLeen you mean instead of fetching it from heroku app we hardcode the details, like the other tables ?
In that case, where do I get the missing details from  ?

[2019-01-01 11:47] f2015537 commented on #312
I'm closing this one because https://github.com/systers/systers.github.io/pull/323 fixes this.

[2019-01-01 11:47] #312 closed

[2019-01-01 23:39] BaaniLeen commented on #314
@f2015537 True.
How do you plan to solve this?
The slack handles for every user would ideally be coming through the database which is made from the systers-opensource slack inviter.

[2019-01-02 05:08] f2015537 commented on #314
@BaaniLeen @littleBuddhaa I'm exploring github's API. Can you guys tell me difference between commiters and imporvers? And @BaaniLeen you are right, getting the slack handles will be a pain. I guess we will have to use the slack api too :( . Seems to be a herculean task as of now. The Github API is driving me crazy.

[2019-01-02 09:27] littleBuddhaa opened #353 "the first timer issues section is showing Portal's issues everywhere"
## Description
As a developer,
I need show the issues of individual projects,
so that the correct issues re listed.

## Mocks
Portal's issues are listed on other projects too
![screenshot from 2019-01-02 14-54-17](https://user-images.githubusercontent.com/36421943/50586236-a35e5200-0e9e-11e9-8d0b-ca12db612fdb.png)

## Acceptance Criteria
### Update [Required]
- [ ] correct issues are shown

## Def